<template>

    <div>

        <button :class="inputClass" @click.prevent="handleApplication">{{applyBtnText || 'Apply'}}</button>


           <b-modal ref="login-modal" no-close-on-esc hide-footer  hide-header no-close-on-backdrop lazy>
               <template slot="default" slot-scope="{ hide }">
                   <div class="card bg-secondary border-0 mb-0">

                       <div class="card-header bg-transparent pb-5">
                           <div class="btn-wrapper text-center">
                               <h2>LOGIN TO CONTINUE</h2>
                           </div>
                       </div>

                       <div class="card-body px-lg-5 py-lg-5">
                           <div class="text-center text-muted mb-4">
                               <small>Or <a href="/join">click here</a> to join the Ajizzy</small>
                           </div>
                           <form role="form">
                               <div class="form-group mb-3">
                                   <div class="input-group input-group-merge input-group-alternative">
                                       <div class="input-group-prepend">
                                           <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                       </div>
                                       <input class="form-control" placeholder="Email address" type="email" v-model="login.email" autocomplete="username">
                                   </div>
                                   <p class="text-danger" v-if="loginErrors.email">{{loginErrors.email[0]}}</p>
                               </div>
                               <div class="form-group">
                                   <div class="input-group input-group-merge input-group-alternative">
                                       <div class="input-group-prepend">
                                           <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                       </div>
                                       <input class="form-control" placeholder="Password" type="password" v-model="login.password" autocomplete="current-password">
                                   </div>
                                   <p class="text-danger" v-if="loginErrors.password">{{loginErrors.password[0]}}</p>
                               </div>
                               <div class="custom-control custom-control-alternative custom-checkbox">
                                   <input class="custom-control-input" id=" customCheckLogin" value="1" type="checkbox" v-model="login.remember">
                                   <label class="custom-control-label" for=" customCheckLogin">
                                       <span class="text-muted">Remember me</span>
                                   </label>
                               </div>
                               <div class="text-center">
                                   <button type="button"
                                           class="btn btn__custom btn-black my-4"
                                           @click.prevent="performLogin"
                                           v-html="loginBtnText"
                                           :disabled="processingLogin"></button>

                                   <button type="button"
                                           class="btn btn__custom btn-secondary my-4"
                                           @click.prevent="cancelLogin">Cancel</button>
                               </div>
                           </form>
                       </div>
                   </div>
               </template>
           </b-modal>


        <div class="modal-z-index-hack">
            <b-modal ref="app-modal" no-close-on-esc no-close-on-backdrop  lazy @ok="handleApplyAction"  @hidden="resetModal">
                <template slot="modal-header" slot-scope="{ close }">
                    <h2>{{title}}</h2>
                    <button class="btn btn-secondary btn-sm" @click="close()">X</button>
                </template>

                <template slot="default" slot-scope="{ hide }">

                    <div v-if="role.media_types && role.media_types.length > 0" id="media-types-holder">
                        <p class="font-weight-bold production-requires-info row">This role requires you to submit the following information.</p>
                        <div v-for="(mediaType, index) in role.media_types">
                            <div class="form-group row"  v-if="mediaType.input_type === 'upload'">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="up" lang="en" @change="handleFileUploadInputChange($event, mediaType, 'm'+mediaType.id)" @click="$event.target.value = ''" />
                                    <label class="custom-file-label" for="up">({{index + 1}}) {{mediaType.name}}</label>
                                </div>
                                <small class="form-text text-muted upload-info">
                                    <em :id="'m' + mediaType.id">Select a new file to upload.</em>
                                    <span class="btn btn-danger btn-sm float-right" v-if="uploadedMedias[mediaType.id]">previously uploaded on {{uploadedMedias[mediaType.id].date}}</span>
                                </small>
                            </div>

                            <div class="form-group row"  v-if="mediaType.input_type === 'text'">
                                <label for="exampleFormControlTextarea1">({{index + 1}}) {{mediaType.name}} ({{mediaType.description}})</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="form['media-' + mediaType.id]"></textarea>
                            </div>
                        </div>
                    </div>
                </template>

                <template slot="modal-footer" slot-scope="{ ok, cancel, hide }">
                    <button class="btn btn-sm btn-success" @click="ok()">
                        APPLY NOW
                    </button>
                    <button class="btn btn-sm btn-secondary" @click="cancel()">
                        CANCEL
                    </button>
                </template>
            </b-modal>
        </div>


    </div>
</template>

<script>
    let loginRequest;

    export default {
        name: "ApplyForRole",
        props: {
            role: {type: Object, required: true},
            inputClass: {type: [Object, Array, String], required: false},
            btnText: {type: String, required: false},
            rolesApplied: {type: Array, required: false},
            authCheck: {type: [Boolean, Number], required: true} // this will enable us to skip checking for login
        },

        mounted() {
           // this.$refs['app-modal'].zIndex = 'auto';
        },
        data() {
            return {
                applyBtnText: this.btnText,
                login: {email: '', password: ''},
                loginErrors: {},
                processingLogin: false,
                application: {},
                uploadedMedias: {}, // if any previously uploaded media
                form: {}, // this is the application payload
            }
        },
        methods: {

            /**
             * This method is triggered when the user click on the role apply button
             * It first check for the role and auth before other actions
             */
            handleApplication() {
                let vm = this;
                if(!this.role || !this.role.id){
                    Aj.Notify.Danger('Select a role.');
                    return;
                }
                if(this.checkAuth()) {
                    this.loginErrors = {};
                    this.$refs['login-modal'].show();
                } else {
                    // do not need to open the modal if no media requirement
                    if(this.role.media_types && this.role.media_types.length){
                        this.startApplicationModal();
                    } else {
                        // Send payload to API
                        this.handleApplyAction(undefined);
                    }
                }
            },

            /**
             * This method is triggered when the user have selected a role and click on apply.
             * OR
             * If a role is already set
             *
             * The method first make the call to create a drafted entry then returns any previously uploaded medias
             */
            startApplicationModal() {
                let vm = this;
                vm.makeDraftCall(vm.role).then(res => {
                   if(res.status === 'ok') {
                       vm.$refs['app-modal'].show();
                       vm.uploadedMedias = res.medias;
                   } else {
                       document.location = res.goto;
                   }
                    vm.application = res.application;
                }).catch((err) => Aj.Notify.Danger(err.message));
            },

            /**
             * This method return boolean if we should check foe authentication which is passed in as a prop
             * @returns {boolean}
             */
            checkAuth() {
                return this.authCheck > 0;
            },

            /**
             * When the user select a file for upload, we trigger this method which in turn call another method called @sendFile
             * @param e
             * @param mediaType
             */
            handleFileUploadInputChange(e, mediaType) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                let file = files[0];
                this.sendFile(file, mediaType);
            },

            /**
             * This method is responsible for completing the application process.
             *
             */
            handleApplyAction(bvModalEvt) {
                if(bvModalEvt !== undefined) bvModalEvt.preventDefault();
                this.form.role_id = this.role.id;
                this.form.modal = '1';
                let vm  = this;
                Aj.Api.post('/casting-calls/'  + this.role.project_id  + '/apply', this.form).then(res => {
                    vm.uploadedMedias = res.medias;
                   if(res.status === 'error') {
                       document.location = res.goto;
                   } else {
                       Aj.Notify.InfoSuccess(
                           {title: 'Application Sent!', message: '<h3>Congratulations<br />We have sent your application to the creator.</h3><p>Note: It is important to keep your contact channels available all the time.</p>'}, () => document.location = '/casting-calls/?related=' + vm.role.project_id);
                   }
                }).catch(err => {
                    console.log(err);
                    Aj.Notify.InfoDanger({title: 'Oops!', message: `<h3>${err.payload}</h3>`});
                });;
            },

            /**
             * This method performs file upload and also update the done with some information.
             * @param file
             * @param mediaType
             */
            sendFile(file, mediaType) {
                let vm  = this;
                let elem =  document.getElementById('m' + mediaType.id);
                const config = {
                    headers: { 'content-type': 'multipart/form-data' },
                    onUploadProgress: function( progressEvent ) {
                        console.log(progressEvent);
                        let  barPercentageProgress = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                        let uploadInfo = 'uploading ' + barPercentageProgress + '%';
                        elem.innerHTML = 'FILE SIZE: ' + vm.formatBytes(file.size) + ' ' + uploadInfo;
                    }.bind(this)
                };
                let formData = new FormData();
                formData.append('media-' + mediaType.id, file);
                Aj.Api.post(`/casting-calls/${vm.role.project_id}/apply/${vm.application.id}/media/${mediaType.id}`, formData, {config})
                    .then(res => {
                        if(res.status === 'ok') {
                            vm.uploadedMedias = res.medias;
                            elem.innerHTML = 'Uploaded Successfully';
                        } else {
                            elem.innerHTML = 'Unknown error: File was not uploaded.';
                        }
                    })
                    .catch(err => {
                        let message = err.payload['media-' + mediaType.id] ? err.payload['media-' + mediaType.id][0] : 'Upload Failed: Please try again.';
                        elem.innerHTML = `<span style="color: darkred;">${message}</span>`;
                   });
            },

            /**
             * Helper method that`s used to bring pretty file size
             * @param bytes
             * @param decimals
             * @returns {string}
             */
            formatBytes(bytes, decimals = 2)  {
                if (bytes === 0) return '0 Bytes';
                const k = 1024;
                const dm = decimals < 0 ? 0 : decimals;
                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                const i = Math.floor(Math.log(bytes) / Math.log(k));

                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
            },

            resetModal() {

                this.login =  {};
                this.loginErrors =  {};
                this.processingLogin = false;
                this.form =  {};
            },

            /**
             * This helper method makes a call to create drafted application. Used by another method.
             * @param role
             * @returns {*}
             */
            makeDraftCall(role) {
                return Aj.Api.post('/casting-calls/'  + role.project_id  + '/draft-apply', {role_id: role.id, 'modal': 'yes'});
            },

            performLogin() {
                this.processingLogin = true;
                let vm = this;
                this.login.modal = 'yes';
                Aj.Api.post('/login', this.login, {config: {
                        cancelToken: new Aj.Api.CancelToken(function executor(c) {
                            loginRequest = c;
                        })
                }}).then(res => {
                    if(res.status === 'error') {
                        Aj.Notify.InfoDanger({title: 'Failed!', message:res.message});
                    } else {
                        vm.$refs['login-modal'].hide();
                        Aj.Notify.InfoSuccess({title: 'Logged In', message: '<h3>You can click ok to reload the page and attempt to apply now.</h3>'}, () => {
                           location.reload();
                        });
                    }
                })
                    .catch(err => vm.loginErrors = err.payload).finally(vm.processingLogin = false);
            },
            cancelLogin() {
                if(this.processingLogin) {
                    Aj.Notify.Confirm({
                                title: 'Confirm your action',
                                message: '<h3>Your login is processing, do you still want to cancel?</h3>'}, () => {
                                this._terminateLoginProcessing();
                         });
                } else {
                    this.$refs['login-modal'].hide();
                }
               // this.login = {};
            },

            _terminateLoginProcessing() {
                this.$refs['login-modal'].hide();
                if(loginRequest !== null || loginRequest !== undefined) loginRequest();
            }

        }, // end of method

        computed: {
            title() {
                return this.role.id ? this.role.name : '';
            },
            loginBtnText() {
                return this.processingLogin ? '<i class="fas fa-spinner fa-spin"></i>' : 'Sign In';
            }
        },

        watch:{
            'login.email': function (newVal, oldVal){
               this.loginErrors.email = undefined;
            },
            'login.password': function(newVal, oldVal){
                this.loginErrors.password = undefined;
            }
        }

    }
</script>

<style scoped>

    .upload-info{
        border-left: solid 1px #dee2e6;
        border-right: solid 1px #dee2e6;
        border-bottom: solid 1px #dee2e6;
        padding: 10px 5px;
        margin-top: -1px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 100%;
    }

    .upload-success-color {
        color: #2922ff;
    }

    .production-requires-info{
        color: rgba(0, 0, 0, 0.8);
        line-height: 27px;
        text-align: center;
        background-color: #FFC107;
        padding: 10px;
        border-radius: 10px;
    }

    .failed-error{
        color: darkred;
    }


</style>


