<template>
    <div>
        <select name="roleType" id="" class="form-control" v-model="selectedRole">
            <option :value="{}"  disabled>Select a Role</option>
            <option :value="role" v-for="role in projectRoles">{{role.name}} ({{role.role_type.name}})</option>
        </select>
        <apply-for-role
            :role="selectedRole"
            input-class="btn btn-sm btn-block btn-black btn__custom mt-3"
            btn-text="Apply Now"
            :auth-check="authCheck">Loading role..</apply-for-role>
    </div>

</template>

<script>

    const ApplyForRole  = () => import('./ApplyForRole');

    export default {
        name: "ReadyToApplyBox",
        props: {
            roles: {
                required: true,
                type: Array,
            },
            rolesApplied: {
                type: Array
            }
        },
        data() {
            return {
                projectRoles: this.roles,
                selectedRole: {},
                authCheck: parseInt(AjConfig.LOGGED_IN)
            }
        },
        methods: {
            handleChange() {

            }
        },

        components: {
            'apply-for-role': ApplyForRole
        }
    }
</script>

<style scoped>

</style>
