<template>

    <b-modal ref="modal-1" title="BootstrapVue">
        <p class="my-4">Hello from modal!</p>
    </b-modal>
    
</template>

<script>
    export default {
        name: "SingleCallModal",
        props: ['open'],
        watch: {
            open: function(newVal, oldVal) { // watch it
               if(newVal === true) {
                   this.$refs['modal-1'].show()
               } else {
                   this.$refs['modal-1'].hide()
               }
            }
        }
    }
</script>

<style scoped>

</style>
