<template>
    <div class="tab-content">

        <div class="tab-pane bg-white active">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 my-4">
                    <div class="sub-section--header">
                        <h4>Step 3: Subscription payment</h4>
                    </div>
                    <div class="form-row pb-3 pt-3">
                        <div class="col-md-6">
                            <select class="custom-select" v-model="payment.option" @change="updatePricingInfo">
                                <option :value="n.id" v-for="n in ranges">{{n.label}} ({{n.discount}}% discount)</option>
                            </select>
                        </div>
                        <div class="col">
                            <span class="float-right font-weight-bold">{{pricing.currency}}{{pricing.total}}</span><br>
                            <small class="float-right">(plus tax where applicable)</small>
                        </div>
                    </div>
                    <p class="py-3 border-top">
                        <span class="float-right">Your card will be charged <span class="font-weight-bold">{{priceDetail}}</span> {{pricing.label}}</span><br>
                        <small class="float-right">(Your selected package comes with <span class="font-weight-bold">{{pricing.discount}}% OFF</span>)</small>
                    </p>
                    <p class="text-right"><a href="#" v-on:click.prevent="showDiscountInput = !showDiscountInput">{{showDiscountInput ? 'Hide discount input': 'Have a discount code?'}}</a></p>

                    <input type="text" class="form-control" placeholder="Enter your discount code" v-if="showDiscountInput">


                    <button class="btn btn-block btn-orange btn__custom mt-4 payment-btn" @click="placeSubscriptionOrder" :disabled="networkRequest">{{networkRequest ? 'OPENING PAYMENT WINDOW': 'MAKE PAYMENT'}}</button>


                    <span class="back-link"><a href="/join?changePackage=1" class="trigger-user-profile">← Back to Step 2: Change Package</a></span>
                </div>

            </div>
        </div>

    </div>
</template>

<script>

    window.Aj = require('../ajizzy');

    export default {
        name: "OrderSubscriptionForm",
        props: {
            ranges: {
                type: Array,
                required: true,
            },
            pricingInfo: {
                type: Object,
                required: true
            }
        },

        created() {
            this.payment.option = this.pricingInfo.default;
            this.pricing = this.pricingInfo;
        },
        data() {
            return {
                showDiscountInput: false,
                payment: {},
                pricing: {},
                networkRequest: false
            }
        },

        methods: {
            updatePricingInfo() {
                let vm = this;
                Aj.Api.get('/account/packages/' + this.payment.option + '/pricing').then(res => {
                    vm.pricing = res;
                })
            },

            placeSubscriptionOrder() {
                let vm = this;
                this.networkRequest = true;
               Aj.Api.post('/account/packages/order-subscription', {range: this.payment.option, 'method': 'rave'})
                   .then((res) => {
                       vm.ravePaymentModal(res);
                   }).catch((err) => Aj.Notify.Danger(err.message)).finally(vm.networkRequest = false);
            },

            verify(txref) {
                Aj.Api.get('/account/billing/' + txref + '/verify').then(res => {
                    if(res.status === 'ok') {
                        Aj.Notify.InfoSuccess({title: 'Payment Successful', message: '<h3 style="text-align:center">Your subscription is now active.</h3> <p>You can start applying for roles, post beautiful content on your wall to attract the best industry experts.</p>', btn: 'Continue'}, () => document.location = '/account/profile/settings/subscriptions');
                    }
                    throw new Error(res.message);
                }).catch(err => Aj.Notify.InfoDanger({title: 'Error has occurred', message: err.message}));
            },
            ravePaymentModal(payload) {
                let vm  = this;
                let rave = getpaidSetup({
                    PBFPubKey: AjConfig.RAVE_PUB_KEY,
                    customer_email: payload.email,
                    amount: payload.amount,
                    currency: payload.currency,
                    txref: payload.txf,
                    payment_options: 'card',
                    onclose: function() { },
                    callback: function(response) {
                        var txref = response.tx.txRef;
                        if (response.tx.chargeResponseCode == "00" ||response.tx.chargeResponseCode == "0" ) {
                           vm.verify(txref);
                        } else {
                            Aj.Notify.InfoDanger({
                                title: 'Payment Failed',
                                message: `Your payment processor returned this message:
<h3>${response.tx.vbvrespmessage}</h3>. You can try again with another card.`,
                                btn: 'Try Again'
                            }, () => {
                                document.location =  '/join/plans';
                            });
                        }
                        rave.close(); // use this to close the modal immediately after payment.
                    }
                });
            }
        },
        computed: {
            priceDetail() {
                return this.pricing.currency + this.pricing.total;
            }
        }

    }
</script>

<style scoped>

</style>
