<template>

    <span>
        <a href="#" class="details-link"
       @click.prevent="auditionDetails(currentLocation)"><i class="fa fa-plus-circle" aria-hidden="true"></i> audition details</a>


        <b-modal
            id="audition-details"
            ref="audition-details"
            size="lg"
            title="Add audition details"
            @ok="handleOk"
            scrollable
            lazy
        >
            <form class="d-flex justify-content-center">
                <div>
                    <h1>Add Audition Details ({{itemInContext ? itemInContext.name: ''}})</h1>
                    <p>Add more details like time and audition type to this location</p>

                    <div class="form-group">
                        <label for="venueName">Name of the venue</label>
                        <input type="text" class="form-control" v-model="form.venue" id="venueName" aria-describedby="venueNameHelp"
                               placeholder="Enter the name of the venue.">
                         <p class="text-danger" v-if="errors.venue">{{errors.venue[0]}}</p>
                        <small id="venueNameHelp" class="form-text text-muted">This can be a build or an area.</small>
                    </div>

                    <div class="form-group">
                        <label for="streetAddress">Street Address</label>
                        <input type="text" class="form-control" v-model="form.street" id="streetAddress" aria-describedby="streetAddressHelp"
                               placeholder="Street Address.">
                        <p class="text-danger" v-if="errors.street">{{errors.street[0]}}</p>
                        <small id="streetAddressHelp" class="form-text text-muted">Provide street address where the
                            event is taking place.
                        </small>
                    </div>

                    <div class="form-group city-state">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-7 mb-3 mt-3">
                                <div><label>City</label>
                                    <input class="form-control"
                                           id="city" type="text"
                                           placeholder=""
                                           v-model="form.city"
                                           aria-describedby="city-status"
                                           value=""/>

                                    <p class="text-danger" v-if="errors.city">{{errors.city[0]}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5 mb-3 mt-3">
                                <div><label>Province</label>
                                    <input class="form-control"
                                           id="state" type="text"
                                           placeholder=""
                                           v-model="form.province"
                                           aria-describedby="state-status"
                                           value=""/>

                                    <p class="text-danger" v-if="errors.province">{{errors.province[0]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group audition-container col-md-12 pb-3 mt-4" v-for="(info, i) in locationInfo">
                        <a class="user-close-actions" @click.prevent="removeDateSlot(i)"></a>


                        <div class="form-group mb-5">
                            <label>Audition Type</label>
                            <div class="d-flex justify-content-start pt-2">
                                <div class="custom-control custom-radio mr-5">
                                    <input v-model="info.audition_type" class="custom-control-input" :id="i + '' + currentLocation.id" type="radio" value="open">
                                    <label class="custom-control-label" :for="i + '' + currentLocation.id">Open Call</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input v-model="info.audition_type"  class="custom-control-input" :id="'customRadio6' + i + '' + currentLocation.id" type="radio" value="closed">
                                    <label class="custom-control-label" :for="'customRadio6' + i + '' + currentLocation.id">By Appointment</label>
                                </div>
                            </div>
                            <p class="text-danger" v-if="errors['locationInfo.' + i + '.audition_type']">{{errors['locationInfo.' + i + '.audition_type'][0]}}</p>
                        </div>

                            <div class="form-group">
                                <div class="details row" :id="currentLocation.id + 'locationInfo.' + i + '.audition_date'">
                                    <div class="col-sm-4 col-xs-4 col-xxs-12 ">
                                        <label>Date</label>
                                        <div class="rdt">
                                              <datetime type="date"
                                                        v-model="info.audition_date"
                                                        class="theme-orange"
                                                        inputClass="form-control"
                                                        :inputId="currentLocation.id + 'locationInfo.' + i + '.audition_date_input'"
                                                        :format="{year: 'numeric', month: 'numeric', day: 'numeric'}"
                                                        :value-zone="timezome"
                                                        auto
                                              ></datetime>
                                            <p class="text-danger" v-if="errors['locationInfo.' + i + '.audition_date']">{{errors['locationInfo.' + i + '.audition_date'][0]}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-4 col-xxs-6 "><label>Start Time</label>
                                        <div class="rdt">
                                              <datetime type="time"
                                                        v-model="info.start_time"
                                                        class="theme-orange"
                                                        inputClass="form-control"
                                                        :value-zone="timezome"
                                                        use12-hour
                                                        auto
                                              ></datetime>
                                            <p class="text-danger" v-if="errors['locationInfo.' + i + '.start_time']">{{errors['locationInfo.' + i + '.start_time'][0]}}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-xs-4 col-xxs-6 "><label>End Time</label>
                                        <div class="rdt">
                                              <datetime type="time"
                                                        v-model="info.end_time"
                                                        class="theme-orange"
                                                        inputClass="form-control"
                                                        :minTime="info.start_time"
                                                        :value-zone="timezome"
                                                        use12-hour
                                                        auto
                                              ></datetime>
                                            <p class="text-danger" v-if="errors['locationInfo.' + i + '.end_time']">{{errors['locationInfo.' + i + '.end_time'][0]}}</p>
                                        </div>
                                    </div>
                                    <div></div>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label for="audition_notes">Notes for this audition</label>
                                <textarea
                                    class="form-control"
                                    rows="3"
                                    id="audition_notes"
                                    maxlength="1000"
                                    v-model="info.audition_note"
                                    placeholder="Optional: You can add brief notes for this specific time period. e.g., To distinguish between the audition time for dancers vs. the audition time for singers"></textarea>
                                <p class="text-danger" v-if="errors['locationInfo.' + i + '.audition_note']">{{errors['locationInfo.' + i + '.audition_note'][0]}}</p>
                            </div>
                    </div>

                    <a role="button" class="add-link-btn" @click.prevent="addNewDateSlot"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Another Date/Time</a>

                </div>

            </form>
        </b-modal>

    </span>

</template>

<script>

    import axios from 'axios';



    export default {
        name: "AuditionDetail",
        props: [ 'currentLocation'],
        data() {
            return {
                errors: {},
                locationInfo: [{
                    audition_type: 'closed',
                }],
                itemInContext: null,
                form: {

                },

            }
        },
        mounted() {
            console.log('currentLocation', this.currentLocation);
        },
        methods: {
            loadLocationDates() {
                let vm = this;
                axios.get(`/creator/projects/${this.currentLocation.location.project_id}/locations-with-dates/${this.currentLocation.id}`).then(res => {
                    if(res.data.length > 0 ) vm.locationInfo = res.data;
                }).catch(err => console.log(err));

            },
            auditionDetails(currentLocation) {
                this.loadLocationDates();
                let vm = this;
                vm.itemInContext = currentLocation;
                vm.form = currentLocation.location;
                vm.errors = {};
                this.$refs['audition-details'].show();
            },
            addNewDateSlot() {
                this.locationInfo.push({});
            },
            removeDateSlot(i) {
                let vm = this;
                let selected = this.locationInfo[i];
                if(selected.id !== undefined && selected.country_project_id !== undefined) {
                    // remove it from the server
                   Aj.Notify.Confirm({message: '<h3>Are you sure you want to remove this time slot?</h3>'}, () => {
                       let url = `/creator/projects/${this.currentLocation.location.project_id}/locations-with-dates/${selected.country_project_id}/${selected.id}`;
                       Aj.Api.delete(url).then(res => {
                           if(res.status === 'ok') vm.locationInfo.splice(i, 1);
                       }).catch(err => Aj.Notify.Danger(err.message));
                   })
                }

            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                let vm = this;
                this.form.locationInfo = this.locationInfo;
                let url = `/creator/projects/${this.currentLocation.location.project_id}/locations-with-dates`;
                Aj.Api.post(url, this.form).then(res =>  {
                    if(res.status === 'ok') {
                        vm.$refs['audition-details'].hide();
                        return;
                    }
                    Aj.Notify.Danger('Unknown error: Try to reload the page and try again.');
                }).catch(err => {
                    Aj.Notify.Danger(err.message);
                    vm.errors = err.payload;
                });

            }
        },
        computed: {
            timezome() {
                return AjConfig.TIMEZONE;
            }
        }
    }
</script>

<style scoped>
    .audition-container{
        position: relative;
        padding: 15px 15px 0;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
    }
    .user-close-actions{
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
        margin: 0;
        background: url('../../static/img/delete-icon-2x.png') no-repeat;
        background-size: 14px 42px;
        width: 14px;
        min-width: 14px;
        height: 14px;
        display: inline-block;
    }

    .details-link{
        border: solid 1px #5e72e4;
        padding: 5px;
    }

</style>
