<template>
    <div class="card card-body">
        <div class="form-group form-radio">
            <label class="form-control-label">Talent Locations/Auditions</label>

            <div class="radio custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline7" value="local" v-model="form.coverage" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline7">Local</label>
            </div>

            <div class="radio custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline8" value="nationwide" v-model="form.coverage" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline8">Nationwide</label>
            </div>

            <div class="radio custom-control custom-radio custom-control-inline">
                <input type="radio" value="worldwide" v-model="form.coverage" id="customRadioInline9" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline9">Worldwide</label>
            </div>
        </div>

        <div class="form-group">
            <local-project-cities v-if="form.coverage === 'local'" :project="project"></local-project-cities>
            <nationwide-detail v-if="form.coverage === 'nationwide'" :project="project"></nationwide-detail>
        </div>

        <div class="form-group">
            <label for="" class="form-control-label">Do you have any special submission or audition instructions?</label>
            <textarea  v-model="audition_instruction" id="" cols="30" rows="3" class="form-control" resize="none" placeholder="e.g., 'In your cover letter, note your availability. Include a video with your submission. For the auditions, be prepared to sing. For more info about the project, visit www.example.com.'"></textarea>
            <small class="text-muted form-text">You don't need to include your email address here. Instead, you can manage your email settings in the next section.</small>
        </div>
    </div>
</template>

<script>
    import NationwideDetail from './NationwideDetail';
    import LocalProjectCities from './LocalProjectCities';

    export default {
        name: "DateAndLocation",
        props: ['location', 'project'],
        data() {
            return {
                form: {
                    coverage: 'local'
                },
                audition_instruction: null
            }
        },
        mounted(){
            this.form.coverage = this.location;
            this.audition_instruction = this.project.audition_instructions;
        },
        computed: {
            selectedCoverage() {
                return this.form.coverage;
            }
        },

        watch: {
            selectedCoverage() {
                this.$emit('extract', this.selectedCoverage);
            },
            audition_instruction(value) {
                this.$emit('instruction', value);
            }
        },
        components: {
            'nationwide-detail': NationwideDetail,
            'local-project-cities': LocalProjectCities
        }
    }
</script>

<style scoped>

</style>
