<template>
    <div class="container">
        <div class="row section-header mb-md-5">
            <div class="col-md-12">
                <h1 class="section-header--title border-0 pb-0">Post a Job</h1>
                <p>You can use the form below to post a project, add roles, audition details and how you want people to apply for each role. <br /><strong>Do you need some help?</strong> <button class="btn btn-sm btn-secondary"><i class="far fa-play-circle"></i> Watch a video</button> </p>
            </div>
        </div>

        <div class="row main">
            <div class="col-12 d-md-none">
                <div class="btn-group section--scroll">
                    <button class="btn btn-d dropdown-toggle" type="button" data-toggle="dropdown" id="sectionScroll">Quick link</button>
                    <ul class="dropdown-menu" aria-labelledby="sectionScroll">
                        <li><a href="#production-wrapper">Production Details</a></li>
                        <li><a href="#roles-wrapper">Roles</a></li>
                        <li><a href="#dates-wrapper">Dates &amp; Location</a></li>
                        <li><a href="#settings-wrapper">Submission Settings</a></li>
                        <li><a href="#materials-wrapper">Additional Materials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 job-posting section-scroll" data-spy="scroll" data-target="#section-highlighter" data-offset="0">
                <div id="production-wrapper" class="job-posting-section">
                    <h3 class="job-posting-section--title">
                        <a data-toggle="collapse" href="#production" role="button" aria-expanded="true" aria-controls="production">Production details <i class="fas fa-angle-down float-right"></i></a>
                    </h3>
                    <div class="collapse show" id="production">
                        <div class="card card-body">
                            <div class="form-group" id="title">
                                <label class="form-control-label" for="projectItitle">Title of Production</label>
                                <input type="text" v-model="form.title" class="form-control" id="projectItitle" placeholder="e.g. 'African Queen - The Movie'">
                                <p class="text-danger" v-if="errors.title">{{errors.title[0]}}</p>
                            </div>
                            <div class="form-group" id="category_id">
                                <label class="form-control-label">Production Type</label>

                                <select class="form-control" v-model="form.category_id">
                                    <option :value="null" selected disabled>Project Type</option>
                                    <template v-for="category in categories" >
                                        <optgroup :label="category.name" v-if="category.children.length > 0">
                                            <option :value="child.id" v-for="child in category.children" v-html="child.name"></option>
                                        </optgroup>
                                        <option :value="category.id" v-html="category.name" v-else></option>
                                    </template>
                                </select>
                                <p class="text-danger" v-if="errors.category_id">{{errors.category_id[0]}}</p>
                            </div>
                            <div class="form-group" id="company" >
                                <label class="form-control-label">Production Company Name</label>

                                <input type="text"  v-model="form.company" class="form-control" placeholder="e.g. Ajizzy Studio">
                                <p class="text-danger" v-if="errors.company">{{errors.company[0]}}</p>
                            </div>

                            <div class="form-group" id="about_company">
                                <label class="form-control-label"  for="description">About the production company</label>
                                <textarea class="form-control" v-model="form.about_company" rows="3" resize="none"></textarea>
                                <p class="text-danger" v-if="errors.about_company">{{errors.about_company[0]}}</p>
                            </div>

                            <div class="form-group" id="description">
                                <label class="form-control-label"  for="description">Describe the project</label>
                                <small>{{charactersLeft}}</small>
                                <textarea class="form-control" v-model="form.description" rows="3" resize="none"></textarea>
                                <p class="text-danger" v-if="errors.description">{{errors.description[0]}}</p>
                            </div>
                            <div class="form-group form-radio" id="union_type">
                                <label class="form-control-label">Union Status<p class="text-danger" v-if="errors.union_type">{{errors.union_type[0]}}</p></label>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" value="Union and Nonunion" v-model="form.union_type" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Union and Nonunion</label>
                                </div>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" value="Union" v-model="form.union_type" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Union</label>
                                </div>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline3" v-model="form.union_type" value="Nonunion" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline3">Nonunion</label>
                                </div>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline4" value="N/A" v-model="form.union_type" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline4">N/A</label>
                                </div>
                            </div>
                            <div class="form-group form-radio" id="is_paid">
                                <label class="form-control-label">Will you be paying talent? <p class="text-danger" v-if="errors.is_paid">{{errors.is_paid[0]}}</p></label>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" v-model="form.is_paid" id="is_paid_yes" name="customRadioInline2" class="custom-control-input" :checked="form.is_paid" :value="1">
                                    <label class="custom-control-label" for="is_paid_yes">Yes</label>
                                </div>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" v-model="form.is_paid" id="is_paid_no" name="customRadioInline2" class="custom-control-input" :checked="form.is_paid" :value="0">
                                    <label class="custom-control-label" for="is_paid_no">No</label>
                                </div>
                            </div>
                            <div class="form-group" id="compensation_detail" v-if="form.is_paid">
                                <label class="form-control-label">Compensation & Union Contract Details</label>
                                <textarea class="form-control" v-model="form.compensation_detail" rows="3" resize="none" placeholder="e.g., Pays $100/day, plus travel and meals provided. No participation fees required. The producers plan to apply for a SAG-AFTRA New Media Agreement."></textarea>
                                <p class="text-danger" v-if="errors.compensation_detail">{{errors.compensation_detail[0]}}</p>
                            </div>
                            <div class="form-group" id="expires_at">
                                <label class="form-control-label">When should this listing expire?</label>
                                <div class="form-group">
                                    <datetime type="date"
                                              v-model="form.expires_at"
                                              class="theme-orange"
                                              inputClass="form-control"
                                              Local
                                              :format="{year: 'numeric', month: 'numeric', day: 'numeric'}"
                                              auto
                                            ></datetime>
                                </div>
                                <p class="text-danger" v-if="errors.expires_at">{{errors.expires_at[0]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="roles-wrapper" class="job-posting-section">
                    <h3 class="job-posting-section--title">
                        <a data-toggle="collapse" href="#roles" role="button" aria-expanded="true" aria-controls="roles">Roles <i class="fas fa-angle-down float-right"></i></a>
                    </h3>
                    <div class="collapse show" id="roles">
                        <div class="card card-body">
                            <ajizzy-project-role :roles="project.roles" :project="project" :meta="meta"></ajizzy-project-role>
                        </div>
                    </div>
                </div>
                <div id="dates-wrapper" class="job-posting-section">
                    <h3 class="job-posting-section--title" id="location">
                        <a data-toggle="collapse" href="#dates" role="button" aria-expanded="true" aria-controls="dates">Dates &amp; Locations <i class="fas fa-angle-down float-right"></i>  <p class="text-danger" v-if="errors.location">{{errors.location[0]}}</p></a>
                    </h3>
                    <div class="collapse show" id="dates">
                        <date-location @extract="getDateAndLocationInfo" @instruction="getInstructions" :location="project.location" :project="project"></date-location>
                    </div>
                </div>

                <div id="settings-wrapper" class="job-posting-section">
                    <h3 class="job-posting-section--title">
                        <a data-toggle="collapse" href="#settings" role="button" aria-expanded="false" aria-controls="settings" class="">Submission Settings <i class="fas fa-angle-down float-right"></i></a>
                    </h3>
                    <div class="collapse" id="settings" style="">
                        <div class="card card-body">
                            <div class="form-group form-radio">
                                <label class="form-control-label" for="customRadioInline3">Accepting Submissions</label>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" v-model="form.accepting_submission" value="1" id="customRadioInline10" name="customRadioInline4" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline10">Yes</label>
                                </div>
                                <div class="radio custom-control custom-radio custom-control-inline">
                                    <input type="radio" v-model="form.accepting_submission" value="0" id="customRadioInline11" name="customRadioInline4" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline11">No</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <button class="btn btn-orange mt-5 btn__custom" :disabled="makingNetworkRequest" v-on:click="saveProject">{{makingNetworkRequest ? 'Saving...' : 'Save Project'}}</button>

                <a href="/creator/projects" class="btn btn-secondary mt-5 btn__custom">Cancel</a>
            </div>


        </div>

    </div>
</template>

<script>
    import ProjectRole from './ProjectRole';
    import DateAndLocation from './DateAndLocation';

    export default {
        name: "CreatorForm",
        props: {
            project: {
                type: Object,
                required: true
            },
            categories: {
                type: Array,
                required: true
            },
            meta: {
                type: Object,
                required: false
            }
        },
        data() {
            return  {
                datePicked: '',
                form: {
                    location: 'local',
                    audition_instructions: ''
                },
                errors: {},
                autoSave: undefined,
                makingNetworkRequest: false,
            }
        },
        mounted: function () {
            this.form = this.project;
            let vm = this;
            vm.autoSave = setInterval(function () {
               // vm.doAutoSave();
            }, 10000);


        },
        methods: {
            doAutoSave() {
                let vm = this;
                vm.form.save = '0';
                vm.makingNetworkRequest  = true;
                vm.form.expires_at  = vm.expireDate;
                Aj.Api.post('/creator/projects/' + this.project.id, this.form, {noLoading: true})
                    .then(res => {
                        vm.makingNetworkRequest = false;
                        Aj.Notify.Success('Auto saved');
                    })
                    .catch(err => {
                    vm.makingNetworkRequest = false;
                    //Aj.Notify.Danger(err.message);
                }).finally(() => {
                    vm.makingNetworkRequest = false
                });
            },
            scrollPageTo(element) {
                $('html, body').animate({
                    scrollTop: ($(element).offset().top)
                }, 1000);
            },
            saveProject() {
                let vm = this;
                vm.form.save = '1';
                vm.makingNetworkRequest  = true;
                vm.autoSave  = false;
                vm.form.expires_at  = vm.expireDate;
                Aj.Api.post('/creator/projects/' + this.project.id, this.form).then((res) => {
                    vm.makingNetworkRequest  = false;
                    if(res.status === 'ok')
                    {
                        document.location = '/creator/projects';
                        return;
                    }
                    Aj.Notify.Danger(res.message || 'Unable to save project. Try again');
                    vm.scrollPageTo('#roles'); // mostly roles
                }).catch((err) => {
                    vm.makingNetworkRequest  = false;
                    Vue.set(vm.$data, 'errors', err.payload);
                    Aj.Notify.Danger(err.message);
                    vm.scrollPageTo('#' + Object.keys(vm.errors)[0]);
                });
            },
            getDateAndLocationInfo(info) {
                this.form.location = info;
            },
            getInstructions(instruction) {
                this.form.audition_instructions = instruction;
            }
        },
        components: {
            'ajizzy-project-role': ProjectRole,
            'date-location': DateAndLocation
        },
        computed: {
            charactersLeft() {
                let char = this.form.description === null || this.form.description === undefined ? 0 : this.form.description.length;
                let limit = 50;
                let left = (limit - char) <= 0 ? 0 : limit - char;

                return  left + " / " + limit + " characters left of minimum required characters.";
            },

            expireDate() {
                    return this.form.expires_at && typeof this.form.expires_at == 'string' ?
                        this.form.expires_at.split('T')[0] : '';
            }
        },


    }
</script>

<style scoped>


</style>
