<template>

    <b-modal  ref="invite-modal"
             :title="'Invite ' + to.name"
             @hidden="modalHidden"
              @ok="handleFormSubmission"
             lazy>

        <div class="container">
            <div class="row">
                <div class="col-12">

                    <p class="text-danger" v-if="errors.user">{{errors.user[0]}}</p>

                    <div class="form-group">
                        <label class="form-control-label" for="project">Select  A Project</label>
                        <select class="form-control" id="project" v-model="form.production">
                            <option value="" selected disabled>Select a production from the list</option>
                            <option v-for="prod in productions" :value="prod.id">{{prod.title}}</option>
                        </select>
                        <p class="text-danger" v-if="errors.production">{{errors.production[0]}}</p>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="form-control-label" for="message">Add a short message</label>
                        <textarea class="form-control" v-model="form.message" id="message" cols="30" rows="5" placeholder="Add a short message.."></textarea>
                        <p class="text-danger" v-if="errors.message">{{errors.message[0]}}</p>
                        <p class="muted" style="font-weight: bold; color: red;"><small>Respect the users by not sending spam.</small></p>
                    </div>
                </div>

            </div>
        </div>
    </b-modal>

</template>

<script>
    export default {
        name: "InviteToApply",
        data() {
            return {
                productions: [],
                errors: {},
                form: {
                    production: ''
                }
            }
        },
        props: {
            open: {
                type: Boolean,
                required: true
            },
            to: {
                type: Object,
                required: true
            }
        },

        methods: {
            modalHidden() {
                this.$emit('close', true);
                this.errors = {};
            },

            handleFormSubmission(event) {
                event.preventDefault();
                let vm  = this;
                this.form.user = this.to.id;
                Aj.Api.post('/account/productions/invite', this.form).then(res => {
                    if(res.status === 'ok') {
                        vm.$refs['invite-modal'].hide();
                        Aj.Notify.Success(res.message);
                    } else {
                        Aj.Notify.Danger(res.message);
                    }
                }).catch(err => {
                    vm.errors = err.payload;
                    Aj.Notify.Danger(err.message);
                });

            }
        },

        watch: {
            open: function (val) {
                let vm = this;
                if(val) {
                    Aj.Api.get('/account/productions/').then(res =>  {
                        if(res.status === 'ok') {
                            vm.productions = res.data;
                            this.$refs['invite-modal'].show();
                        } else {
                            vm.$emit('close', true);
                            Aj.Notify.Danger(res.message);
                        }
                    }).catch(err => {
                        Aj.Notify.Danger(err.message);
                        vm.$emit('close', true);
                    });

                }
            }
        }
    }
</script>

<style scoped>

</style>
