<template>
    <div>
        <div class="form-group">
            <label>Select Country for your project</label>
            <select2 v-model="selected"
                     placeholder="Select from the list"
                     @extract="handleInputChange"
                     :options="options"
                     class="form-control">
            </select2>
        </div>

        <div class="form-group">
            <label>Search for cities to add to your project.</label>
            <google-autocomplete v-show="!networkRequest" :key="countryCode"
                class = "form-control icon-search"
                input_id = "txtAutocomplete"
                autocomplete="off"
                name = "s"
                placeholder = "type your address"
                :clear="true"
                :config="{ type: ['geocode'], componentRestrictions: {country: countryCode}}"
            >
            </google-autocomplete>

            <p class="form-text text-muted">Wait for the auto-complete to show you list of cities in {{countryCode}}</p>
        </div>

        <selected-cities :selectedCities="selectedCities" @removeItem="removeItem"></selected-cities>

    </div>
</template>

<script>


    import Select2 from '../../controls/Select2';

    import SelectedCities from './SelectedCities';
    require('../../google-autocomplete/bootstrap');

    export default {
        name: "LocalProjectCities",
        props: ['project'],
        data() {
            return {
                options: [],
                selected: "",
                projectCopy: {},
                addressInfo: {address: {}},
                networkRequest: false,
                selectedCities: []
            }
        },
        mounted() {
            // Listen to google address auto complete event
            Vuemit.listen('setAddress', this.onAddressChanged);

            this.selected = this.project.country ? this.project.country.id : AjConfig.LOCATION_INFO.id;
            // this.project.country = null;
            if(this.project.country === null)
            {
                // no country was attached to the project. Do it here
                this.attachCountry(this.selected);
            }

            this.loadLocations();
        },

        created() {
            this.options = AjConfig.countries.map((item) => {
                return {text: item.name, id: item.id};
            });
            this.projectCopy = Object.assign({}, this.project); // copy from the prop
        },


        methods: {

            handleInputChange(data) {
                this.attachCountry(data.id);
            },

            loadLocations() {
                let vm = this;
                Aj.Api.get('/creator/projects/' + this.project.id + '/locations?location_type=local')
                    .then(res => vm.selectedCities = res)
                    .catch(err => Aj.Notify.Danger(err));
            },

            attachCountry(countryId) {
                let vm = this;
                vm.networkRequest = true;
                Aj.Api.post(`/creator/projects/${this.project.id}/attach-country`, {country: countryId}).then(res => {
                    vm.projectCopy.country = res.country;
                    Aj.Notify.Success('Project updated');
                }).catch(err => Aj.Notify.Danger(err.message)).finally(vm.networkRequest = false);
            },
            /**
             * Handle google address auto complete event
             */
            onAddressChanged(payload)
            {

                let vm = this;
                if (Object.keys(payload.place).length > 0 && !vm.networkRequest) {

                    vm.networkRequest = true;
                    this.addressInfo.address = payload.place;
                    this.addressInfo.address.place_id = payload.response.place_id;
                    Aj.Api.post(`/creator/projects/${this.project.id}/attach-city`, this.addressInfo.address).then(res => {
                        if(res.status !== 'ok'){
                            Aj.Notify.Danger(res.message);
                        } else {
                            vm.loadLocations();
                        }
                    }).catch(err =>  {
                        Aj.Notify.Danger(err.message);
                    }).finally( () => {
                            vm.networkRequest = false;
                        });

                 }

            },

            removeItem(city) {
                let vm = this;
                Aj.Notify.Confirm({message: `<h3>You want to remove<br />${city.name}?</h3>`}, () => {
                    Aj.Api.delete('/creator/projects/' + vm.project.id + '/locations/' + city.id).then(res => {
                        if(res.status === 'ok') {
                            vm.loadLocations();
                            return;
                        }
                        Aj.Notify.Danger('Unknown response. Please try again');
                    }).catch(err => Aj.Notify.Danger('Error removing location'));
                });
            }

        }, // end of methods


        computed: {
            countryCode() {
                return this.projectCopy.country.code;
            }
        },
        components: {
            'select2': Select2,
            'selected-cities': SelectedCities
        }
    }
</script>

<style scoped>

</style>
