<template>
    <div>
        <!-- put input here -->
        <div class="" id="country_id">
            <label>Add countries and your audition detail.</label>
            <select2 v-model="selected"
                     placeholder="Select from the list"
                     @extract="handleInputChange"
                     :options="options"
                     class="">
                <option value="0" disabled>Select an option</option>
            </select2>
            <small class="form-text text-muted">After adding a city, you can add date and time by click audition details.</small>
            <p class="text-danger" v-if="errors.country_id">{{errors.country_id[0]}}</p>
        </div>

        <selected-cities :selectedCities="selectedCities" @removeItem="removeItem"></selected-cities>


    </div>
</template>

<script>

    import SelectedCities from './SelectedCities';
    import Select2 from '../../controls/Select2';

    export default {
        name: "NationwideDetail",
        props: ['project', 'cityInfo'],
        data() {
            return {
                makingNetworkRequest: false,
                selectedCities: [],
                selected: '',
                errors: {},
                options: []
            }
        },
        mounted() {
            /**
             * The application keeps a state with some configs and from there we load list of countries
             */
            this.loadLocations();
        },
        created() {
            this.options = AjConfig.countries.map((item) => {
                return {text: item.name, id: item.id};
            });
        },
        methods: {

            /**
             * When the component loads, fetch all the locations currently attached to the project
             */
            loadLocations() {
                let vm = this;
                Aj.Api.get('/creator/projects/' + this.project.id + '/locations?location_type=nationwide')
                        .then(res => vm.selectedCities = res)
                        .catch(err => Aj.Notify.Danger(err));
            },

            /**
             * Data is the selected city from the dropdown
             *
             * @param data
             */
            handleInputChange(data) {
             let vm = this;
                Aj.Api.post('/creator/projects/' + this.project.id + '/locations', {'country_id': data.id}).then(res => {
                    if(res.status) {
                        vm.selected = '';
                        vm.loadLocations();
                    } else {
                        Aj.Notify.Danger('Error: adding location');
                    }
              }).catch(err => {
                    Aj.Notify.Danger(err.message);
                    vm.errors = err.payload;
                    document.querySelector('#country_id').scrollIntoView({behavior: 'smooth'});
                });
            },

            /**
             * Remove an item from the city list.
             * This method makes request to the endpoint to detach the location from the endpoint
             * @param city
             */
            removeItem(city) {
                let vm = this;
                Aj.Notify.Confirm({message: `<h3>You want to remove<br />${city.name}?</h3>`}, () => {
                    Aj.Api.delete('/creator/projects/' + vm.project.id + '/locations/' + city.id).then(res => {
                        if(res.status === 'ok') {
                            vm.loadLocations();
                            return;
                        }
                        Aj.Notify.Danger('Unknown response. Please try again');
                    }).catch(err => Aj.Notify.Danger('Error removing location'));
                });

            },

            /**
             * This endpoint handles the hidden of the modal
             * @param bvModalEvt
             */
            handleDeleteModalHide(bvModalEvt) {
                //TODO: Add form reset operation here
                this.makingNetworkRequest = false;
            },

        },
        components: {
            'select2': Select2,
            'selected-cities': SelectedCities
        }
    }
</script>

<style>


</style>
