<template>
    <div>
        <p>List the roles you want people to apply for. You can specify required media/content for each role as needed.</p>
        <div class="form-group">
            <label class="form-control-label" for="">Roles({{roles.length}}) You're Casting</label>
            <button type="button" class="btn btn-orange btn__custom btn-sm mt-2" name="button"
                    v-on:click.prevent="handleAddNewRole"><i class="fas fa-plus mr-2"></i> Add a Role
            </button>
        </div>

        <p v-show="fetchingRoles">Get roles..</p>


        <div class="bd-roles" v-show="!fetchingRoles">
            <details  v-for="role in roles">
                <summary>{{role.name}} <span class="float-right"><a href="#" @click.prevent="handleEdit(role)">Edit</a> / <a
                    href="#"  @click.prevent="handleDelete(role)">Delete</a></span></summary>

                    <div class="bd-example">

                        <address class="role-address">

                            <strong>Role Name: </strong> {{role.name}}<br>
                            <strong>Age Range: </strong>{{role.min_age}} to {{role.max_age}}<br>
                            <strong>Gender: </strong> {{role.gender}}<br>
                            <strong>Transgender: </strong> {{role.is_transgender ? 'Yes' : 'No'}}<br>
                            <strong>Requires nudity: </strong> {{role.requires_nudity ? 'Yes' : 'No'}}<br>
                            <strong>Role Type: </strong> {{role.role_type_id && role.role_type ?  role.role_type.name: 'N/A'}}<br>
                            <strong>Ethnicities: </strong> {{role.ethnicities ? role.ethnicities.map((item) => item.name).join() : ''}}<br>
                            <strong>Required Media Types: </strong> {{role.media_types ? role.media_types.map((item) => item.name).join() : ''}}<br>
                            <p style="margin-top: 20px;">
                                <button type="button" @click.prevent="handleEdit(role)">Edit</button> /
                                <button type="button" @click.prevent="handleDelete(role)">Delete <i class="ni ni-fat-remove"></i></button>
                            </p>
                        </address>
                    </div>

            </details>
        </div>

        <b-modal id="add-role-modal" size="lg" ref="add-role-modal" :title="project.title" @hide="handleHiddenState"
                 modal-class="add-role-modal" modal-header-close="close" body-class="modal-body"
                 no-close-on-esc no-close-on-backdrop lazy hide-footer scrollable>
           <div>
               <h1 v-if="!editing">Please tell us about the role you're casting</h1>
               <h1 v-else>Editing {{form.name}}</h1>
               <hr>
               <form action="">
                   <div class="form-group">
                       <label for="">Role name</label>
                       <input type="text" class="form-control" placeholder="Name" v-model="form.name">
                       <p class="text-danger" v-if="errors.name">{{errors.name[0]}}</p>
                   </div>
                   <div class="form-group">
                       <label for="">Role Type</label>
                       <select class="form-control" v-model="form.role_type_id">
                           <option value="" selected disabled>Select Role Type</option>
                           <option :value="roleType.id" v-for="roleType in meta.roleTypes">{{roleType.name}}</option>
                       </select>
                       <p class="text-danger" v-if="errors.role_type_id">{{errors.role_type_id[0]}}</p>
                   </div>
                   <div class="form-group">
                       <label class="form-control-label">Age Range For This Role</label>
                       <small class="form-text text-muted">It is important to provide age range for our system to help you target the right candidates.</small>
                       <div class="row">
                           <div class="col-md-6 col-sm-6">
                               <div class="form-group">
                                   <input type="number"
                                           min="16"
                                          :max="new Date().getFullYear() - (16 + 99)"
                                          class="form-control"
                                          v-model="form.min_age"
                                          placeholder="Enter minimum age">
                                   <p class="text-danger" v-if="errors.min_age">{{errors.min_age[0]}}</p>
                               </div>
                           </div>
                           <div class="col-md-6 col-sm-6">
                               <div class="form-group">
                                   <input type="number"
                                          min="16"
                                          :max="new Date().getFullYear() - (16 + 99)"
                                          class="form-control"
                                          v-model="form.max_age"
                                          placeholder="Enter maximum age">
                                   <p class="text-danger" v-if="errors.max_age">{{errors.max_age[0]}}</p>

                               </div>
                           </div>
                       </div>

                   </div>
                   <div class="form-group">
                       <label>Gender</label>
                       <div class="form-row gender">
                           <div class="form-group col">
                               <select class="form-control"  v-model="form.gender">
                                   <option value="" disabled>Select a gender</option>
                                   <option value="male & female">Male & Female</option>
                                   <option value="male">Male</option>
                                   <option value="female">Female</option>
                               </select>
                               <p class="text-danger" v-if="errors.gender">{{errors.gender[0]}}</p>
                           </div>
                           <div class="form-group col  d-flex align-items-center ml-4">
                               <div class="custom-control custom-checkbox mb-3">
                                   <input class="custom-control-input" id="is_transgender" value="1" type="checkbox"  v-model="form.is_transgender">
                                   <p class="text-danger" v-if="errors.is_transgender">{{errors.is_transgender[0]}}</p>
                                   <label class="custom-control-label" for="is_transgender">Transgender</label>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="">Ethnicity (optional)</label>
                       <div class="custom-control custom-checkbox mb-3" v-for="et in meta.ethnicities">
                           <input class="custom-control-input"
                                  :id="'et' + et.id"
                                  :value="et.id"
                                  type="checkbox"
                                  v-model="form.ethnicities">
                           <p class="text-danger" v-if="errors.ethnicities">{{errors.ethnicities[0]}}</p>
                           <label class="custom-control-label" :for="'et' +et.id">{{et.name}}</label>
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="">Media required from applicants</label>
                       <div class="custom-control custom-checkbox mb-3" v-for="mediaType in meta.mediaTypes">
                           <input class="custom-control-input"
                                  :id="'md' + mediaType.id"
                                  :value="mediaType.id"
                                  type="checkbox"
                                  v-model="form.media_types">
                           <p class="text-danger" v-if="errors.media_types">{{errors.media_types[0]}}</p>
                           <label class="custom-control-label" :for="'md' +  mediaType.id">{{mediaType.name}}</label>
                       </div>
                   </div>

                   <div class="form-group">
                       <label for="">Role Description (optional)</label>
                       <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Role Description" v-model="form.description"></textarea>
                   </div>

                   <div class="form-group">
                       <div class="custom-control custom-checkbox mb-3">
                           <input class="custom-control-input" id="requires_nudity" type="checkbox" v-model="form.requires_nudity" value="1">
                           <p class="text-danger" v-if="errors.requires_nudity">{{errors.requires_nudity[0]}}</p>
                           <label class="custom-control-label" for="requires_nudity">Requires Nudity</label>
                       </div>
                   </div>

                   <div class="form-group">
                      <button class="btn btn-orange btn__custom" type="button" @click.prevent="saveRole" :disabled="makingNetworkRequest">{{makingNetworkRequest ? 'Saving...': 'Save Role'}}</button>
                   </div>
               </form>
           </div>

        </b-modal>

    </div>
</template>

<script>

    export default {
        name: "ProjectRole",
        data() {
            return {
                modalIsOpen: false,
                errors: {},
                roles: [],
                makingNetworkRequest: false,
                fetchingRoles: false,
                editing: false,
                form: {
                    gender: '',
                    ethnicities: [],
                    media_types: [],
                    role_type_id: ''
                }
            };
        },
        props: {
            project: {
                type: Object,
                required: true
            },
            meta: {
                type: Object,
                required: false
            }
        },
        methods: {
            handleAddNewRole() {
                this.modalIsOpen = true;
                this.$refs['add-role-modal'].show();
            },
            fetchRoles() {
                let vm = this;
                vm.fetchingRoles = true;
                Aj.Api.get(`/creator/projects/${vm.project.id}/roles`).then((res) => {
                    if(res.status === 'ok') {
                        vm.roles = res.data;
                        vm.fetchingRoles = false;
                    }
                });
            },
            resetForm() {
                this.form = {
                    gender: '',
                    ethnicities: [],
                    media_types: [],
                    role_type_id: ''
                };
                this.editing = false;
            },
            handleHiddenState() {
                this.modalIsOpen = false;
                this.resetForm();
            },
            saveRole() {
                let vm = this;
                Aj.Api.post(`/creator/projects/${vm.project.id}/roles`, vm.form).then((res) => {
                    if(res.status === 'ok') {
                        vm.resetForm();
                        vm.fetchRoles();
                        vm.modalIsOpen = false;
                        vm.$refs['add-role-modal'].hide();
                    }
                }).catch((err) => {
                    Aj.Notify.Danger(err.message);
                    vm.errors = err.payload;
                });
            },
            handleEdit(role) {

                let newRole = JSON.parse(JSON.stringify(role));
                this.form = newRole;
                this.editing = true;
                this.errors = {};

                this.form.ethnicities = this.form.ethnicities.length > 0  ? this.form.ethnicities.map((item) => item.id) : [];
                this.form.media_types = this.form.media_types.length > 0  ? this.form.media_types.map((item) => item.id) : [];

                this.$refs['add-role-modal'].show();
                this.modalIsOpen = true;
            },
            handleDelete(role) {
                Aj.Notify.Confirm({message:'<h3>You want to remove this role from the project?</h3>'}, () => {
                    let vm = this;
                    Aj.Api.delete(`/creator/projects/${vm.project.id}/roles/${role.id}`).then((res) => {
                        vm.fetchRoles();
                    }).catch((err) => {
                        Aj.Notify.Danger(err.message);
                    });
                });


            }
        },

        components: {},
        mounted() {
            this.fetchRoles();
        }
    }
</script>

<style>
    .modal-open .modal {
       /* background-color: rgb(255, 255, 255) !important;*/
    }
    .role-address{margin-top: 20px;}
    .role-address strong{font-weight: bolder;}
</style>


