<template>
    <ul class="list-group list-group-flush location-info">
        <li class="list-group-item" v-for="city in selectedCities" :key="city.id">{{city.name}}
            <span class="float-right">
                    <a href="#" @click.prevent="removeItem(city)" class="remove-link">
                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                        &nbsp;&nbsp; <audition-detail :currentLocation="city"></audition-detail>
                </span>
        </li>
    </ul>
</template>

<script>

    import AuditionDetail from './AuditionDetail';

    export default {
        name: "SelectedCities",
        props: ['selectedCities'],
        components: {
            'audition-detail': AuditionDetail
        },
        methods: {
            removeItem(city) {
                this.$emit('removeItem', city);
            }
        }
    }
</script>

<style scoped>
    .location-info{
        border-left: 1px solid #e9ecef;
        border-right: 1px solid #e9ecef;
        border-bottom: 1px solid #e9ecef;
        margin-top: 15px;
    }

    .remove-link{
        border: solid 1px #F44336;
        padding: 5px;
        color: #F44336;
    }
</style>
