<template>
    <div class="row section-header mb-2">
        <div class="col-md-12">
            <h4>Showing {{totalRoles}} acting jobs with {{totalProductions}} productions in All Locations
            </h4>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['totalRoles', 'totalProductions'],
        name: "CastingCallsStat"
    }
</script>

<style scoped>

</style>
