<template>

            <div class="card">
                <!-- Card header -->
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8" @click="opened  = !opened">
                            <h5 class="h3 mb-0">Filter records</h5>
                        </div>
                        <div class="col-4 text-right" @click="opened  = !opened">
                            <a v-if="!opened"><i class="ni ni-bold-down"></i></a>
                            <a v-if="opened"><i class="ni ni-bold-up"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Card image -->
                <!-- List group -->
                <!-- Card body -->
                <div class="card-body" v-if="opened">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row" style="background: #f7f7f7;">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="gender">Gender</label>
                                            <select id="gender" class="form-control-sm form-control" v-model="filter.role_gender">
                                                <option value="">All</option>
                                                <option value="male & female">Male & Female</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox" style="margin-top: 35px;">
                                            <input
                                                class="custom-control-input"
                                                v-model="filter.is_transgender"
                                                true-value="1"
                                                false-value="0"
                                                id="transgender" type="checkbox">
                                            <label class="custom-control-label" for="transgender">Transgender</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row" style="background: #f7f7f7;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Age Range (16 - 100)</label>

                                            <div class="form-row">

                                                <div class="col-md-6 col-6 col-sm-6 mb-3">
                                                    <input type="number" v-model="filter.min_age" :min="min_age" class="form-control form-control-sm" id="validationTooltip04" placeholder="from" required>
                                                </div>
                                                <div class="col-md-6 col-6 col-sm-6 mb-3">
                                                    <input type="number" v-model="filter.max_age" class="form-control form-control-sm" id="validationTooltip05" placeholder="to" required>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-2">
                            <div class="col-md-4">
                                <div class="row" style="background: #f7f7f7;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="ethnicities">Ethnicities</label>
                                            <select id="ethnicities" class="form-control-sm form-control" v-model="filter.ethnicities">
                                                <option value="" selected>All</option>
                                                <option :value="eth.id" v-for="eth in ethnicities">{{eth.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="row" style="background: #f7f7f7;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="production_type">Production Type</label>
                                            <select id="production_type" class="form-control-sm form-control" v-model="filter.production_type">
                                                <option value="all">All</option>
                                                <template v-for="category in categories" >
                                                    <optgroup :label="category.name" v-if="category.children.length > 0">
                                                        <option :value="child.id" v-for="child in category.children" v-html="child.name"></option>
                                                    </optgroup>
                                                    <option :value="category.id" v-html="category.name" v-else></option>
                                                </template>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox" style="margin-top: 35px;" >
                                            <input
                                                class="custom-control-input"
                                                v-model="filter.is_paid"
                                                true-value="1"
                                                false-value=""
                                                id="is_paid" type="checkbox">
                                            <label class="custom-control-label" for="is_paid">Only Paid</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-sm btn-darker" @click="genderChanged"><i class="fas fa-search"></i> Filter Results</button>
                                <button type="button" class="btn btn-sm btn-outline-darker" @click="clearFilter">Clear Filter</button>
                            </div>
                        </div>

                </div>

            </div>
</template>

<script>



    export default {
        name: "CastingCallsFilter",
        props: {
            categories: {
                type: Array,
                required: false
            },
            ethnicities: {
                type: Array,
                required: false
            }
        },
        data() {
            return {
                filter: {
                    role_gender: '',
                    production_type: 'all',
                    ethnicities: '',
                },
                opened: true,
                min_age: parseInt(AjConfig.MIN_AGE)

            }
        },

        methods: {
            genderChanged() {
                this.$emit('filtered', this.filter);
                this.scrollPageTo('#castings-results');
            },
            clearFilter() {
                this.filter = {
                    role_gender: '',
                    production_type: 'all',
                    ethnicities: '',
                    min_age: '',
                    max_age: ''
                };

                this.$emit('filtered', this.filter);
            },

            scrollPageTo(element) {
                $('html, body').animate({
                    scrollTop: ($(element).offset().top)
                }, 1000);
            },

        },
        components: {

        }
    }
</script>

<style scoped>

</style>

