<template>

    <div class="container">
        <casting-calls-stat></casting-calls-stat>
        <casting-calls-filter v-on:filtered="handleFilter" :categories="categories" :ethnicities="ethnicities"></casting-calls-filter>
        <div class="row">
            <div class="col-md-12 main-wrapper">
                <div class="entry">
                    <div class="section-body">
                        <div class="list--casting-calls" id="castings-results">
                            <casting-call-item
                                v-for="(item, index) in listings"
                                :key="index"
                                :post="item"
                                v-on:selected="itemSelected"
                                v-on:filtered="handleFilter"
                                >

                            </casting-call-item>

                            <infinite-loading
                                @infinite="infiniteHandler"
                                :identifier="infiniteId"
                                spinner="waveDots"></infinite-loading>

                        </div>
                        <!-- END /.list--casting-calls -->
                    </div>
                    <!-- END /section-body -->
                </div>
            </div>
        </div>

        <b-modal ref="post-modal"
                 :title="selected.title"
                 body-class="casting-details-modal"
                 modal-class="right fade"
                 @hidden="modalHidden"
                hide-header hide-footer lazy>

            <button class="close" data-dismiss="modal" aria-label="Close" type="button" @click="closeModal">
                <span aria-hidden="true">&times;</span>
            </button>


            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="section-header">
                            <h1 class="section-header--title">{{selected.title}}</h1>
                            <div class="meta d-flex justify-content-start">
                                <div class="post-expiry pr-4">
                                    Expires: {{selected.formatted_expiry_date}}
                                </div>

                                <div class="post-share pl-4">
                                    <a class="btn btn-sm btn-darker" :href="'/casting-calls/' + selected.id">View full page</a>
                                </div>

                            </div>

                        </div>
                        <div class="section-body">
                            <div class="casting--primary-information">
                                <div class="cast-author-category">Company / Agency</div>
                                <div class="cast-author-name">{{selected.company}}</div>
                                <div class="cast-crew" v-if="selected.about_company">
                                {{selected.about_company}}
                                </div>
                                <div class="cast-description">
                                    <h5>Production description</h5>
                                    <p>{{selected.description}}</p>
                                </div>

                            </div>
                            <div class="casting--secondary-information">
                                <div class="casting--roles">
                                    <h3>
                                        Roles
                                    </h3>
                                    <div class="sub--section-content">
                                        <div class="accordion" id="available-roles">
                                            <div class="card pt-2">
                                                <div v-for="role in selected.roles">
                                                    <div class="card-header" :id="'role' + role.id">
                                                        <h4 class="mb-0 card-header-title">
                                                            <a class="" data-toggle="collapse" :href="'#roleDetails' + role.id" role="button" aria-expanded="false" aria-controls="roleOneDetails">{{role.name}} ({{role.role_type.name}}): <span class="role-meta">{{role.gender}}, {{role.min_age}}-{{role.max_age}}</span></a>
                                                        </h4>
                                                    </div>
                                                    <div :id="'roleDetails' + role.id" class="collapse" :aria-labelledby="'role' + role.id" data-parent="#available-roles">
                                                        <div class="card-body">
                                                            <p>{{role.description && role.description.length > 0 ?  role.description : 'No description was provided.'}}</p>

                                                            <div class="cast-description" v-if="role.ethnicities !== undefined && role.ethnicities.length > 0">
                                                                <h5>Ethnicities</h5>
                                                                <ul>
                                                                    <li v-for="eth in role.ethnicities">{{eth.name}}</li>
                                                                </ul>
                                                            </div>
                                                            <apply-for-role
                                                                :role="role"
                                                                input-class="btn btn-sm btn-black btn__custom mt-3"
                                                                btn-text="Apply for this role"
                                                                :key="role.id"
                                                                :roles-applied="[]"
                                                                :auth-check="authCheck">Loading..<i class="fas fa-spinner fa-spin"></i></apply-for-role>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="casting--dates">
                                    <h3>Rehearsal / Production Dates &amp; Locations</h3>
                                    <div class="sub--section-content">
                                        <p>{{selected.loc}}</p>
                                    </div>
                                </div>
                                <div class="casting--contracts">
                                    <h3>Compensation & Union Contract Details</h3>
                                    <div class="sub--section-content">
                                        <p>{{selected.compensation_detail}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 aside">
                        <div class="widget widget--apply widget--bg-ajizzy">
                            <h3>Ready to apply?</h3>
                           <ready-to-apply-box :roles="selected.roles || []"></ready-to-apply-box>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </div>

</template>

<script>


   import CastingCallsStat from "./CastingCallsStat";

    import CastingCallsFilter from "./CastingCallsFilter";
   import CastingCallItem from "./CastingCallItem";
    import applyForRole from '../single/ApplyForRole';
    import ReadyToApplyBox from "../single/ReadyToApplyBox";

    import InfiniteLoading from 'vue-infinite-loading';


    export default {
        name: "CastingCallsWrapper",
        props: {
            categories: {
                type: Array, required: false,
            },
            ethnicities: {type: Array, required: false},
            search: {
                type: Object, required: false
            }
        },
        data() {
          return {
              listings: [],
              infiniteId: +new Date(),
              params: {
                  page: 1
              },
              selected: {}
          }
        },
        components: {
            'casting-calls-stat': CastingCallsStat,
            'casting-calls-filter': CastingCallsFilter,
            'casting-call-item': CastingCallItem,
            'apply-for-role': applyForRole,
            'ready-to-apply-box': ReadyToApplyBox,
            InfiniteLoading
        },

        computed: {
            authCheck() {
                return AjConfig.LOGGED_IN !== '0';
            }
        },

        methods: {
            itemSelected(item) {
               this.selected = item;
               this.$refs['post-modal'].show();
            },

            modalHidden(bvModalEvt) {
                this.selected = {};
            },

            closeModal() {
                this.$refs['post-modal'].hide();
            },

            handleFilter(filter) {
                filter.page = 1;
                this.params = filter;
                this.listings = [];
                this.infiniteId += 1;
            },

            infiniteHandler($state) {
                let vm = this;
                Aj.Api.get('/casting-calls/feeds', {
                    params: vm.params,
                    noBlock: true
                }).then(res => {
                    if(res.data.length) {
                        vm.params.page += 1;
                        vm.listings.push(...res.data);
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
