<template>
    <div class="list--casting-calls-item" :class="{'sponsored-cast': post.sponsored}">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="inner-wrap d-flex align-items-start flex-column h-100 primary-details">
                    <div class="casting--header">
                        <div class="casting--header-meta">
                            <div class="tags-meta">
                                <a class="tag" href="#" @click.prevent="$emit('filtered', {production_type: post.category_id})">{{post.category.name}}</a>
                                <a class="tag paid" href="#" @click.prevent="$emit('filtered', {is_paid: 1})" v-if="post.is_paid">Paid</a>
                                <a class="tag union" href="#" @click.prevent="$emit('filtered', {union_type: post.union_type})">{{post.union_type === 'N/A' ? 'No Union' : post.union_type}}</a>

                            </div>
                            <h2 class="casting-call--title">
                                <a :href="'/casting-calls/' + post.id" v-on:click.prevent="$emit('selected', post)">{{post.title}}</a>
                            </h2>
                        </div>
                    </div>
                    <div class="casting--description">
                        <h6>Description</h6>
                        <p>{{post.description}}</p>
                        <h6>Dates &amp; Locations:</h6>
                        <ul class="prod__dates">
                            <li> <span class="published-time">Posted: {{post.formatted_created_at}}</span></li>
                            <li><strong style="font-weight: 700;">Production Location:</strong> {{post.loc}}</li>
                            <li><strong style="font-weight: 700;">Posted by:</strong> {{post.company}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="inner-wrap d-flex align-items-start flex-column h-100 other-details">
                    <h5>Select a role to apply &darr;</h5>

                    <div class="other-details-item" v-for="role in roles">
                        <div class="roles__list__title">
                            <a title="Save draft" class="application-action save icon"></a>
                            <a href="single-casting-call.html">{{role.name}}</a>
                        </div>
                        <div class="roles__list__info">{{role.role_type.name}}, {{role.gender}}, {{role.min_age}}-{{role.max_age}}</div>
                        <a class="roles__list__link" :href="'/casting-calls/' + post.id" v-on:click.prevent="$emit('selected', post)">View details &raquo;</a>
                    </div>


                    <div class="mt-auto w-100 other-details--more border-top">
                        <a :href="'/casting-calls/' + post.id" v-on:click.prevent="$emit('selected', post)">View all {{post.roles.length}} roles available</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "CastingCallItem",
        props: {
            post: {
                type: Object,
                required: true
            }
        },

        methods: {

            itemSelected(item) {
                this.$emit('selected', item);
            }

        },
        computed: {
            roles() {
                return this.post.roles.slice(0,2)
            }
        }
    }
</script>

<style scoped>

</style>
