<template>
    <div class="container" id="appearance-entry">
        <div class="row">
            <div class="col-md-12 main-wrapper">
                <!-- Card body -->
                <div class="card-sbody">
                    <h3 class="card-title mb-3">Appearance</h3>

                    <form>

                       <!-- <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="">Ethnicities (Select all that apply)</label>
                                <select name="" id="" class="form-control" multiple>
                                    <option value="">African</option>
                                    <option value="">American</option>0
                                </select>
                            </div>
                        </div> -->

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <strong>Height: <span class="unit" :class="{'unit-active': !form.height_unit_us}"
                                                      @click="form.height_unit_us = false">Metric</span> | <span
                                    :class="{'unit-active': form.height_unit_us}" class="unit"
                                    @click="form.height_unit_us = true">US</span></strong>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-lg-6 col-sm-6 mb-3" v-if="!form.height_unit_us">
                                <label for="">Feet</label>
                                <input v-model="form.height" type="text" class="form-control" placeholder="Feet">
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6 mb-3" v-if="form.height_unit_us">
                                <label for="">Centimeters</label>
                                <input v-model="form.height" type="text" class="form-control" placeholder="Centimeters">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <strong>Weight: <span class="unit" :class="{'unit-active': !form.weight_unit_us}"
                                                      @click="form.weight_unit_us = false">Metric</span> | <span
                                    :class="{'unit-active': form.weight_unit_us}" class="unit"
                                    @click="form.weight_unit_us = true">US</span></strong>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-lg-6 col-sm-6 mb-3" v-if="!form.weight_unit_us">
                                <label for="">Kilograms</label>
                                <input type="text" v-model="form.weight" class="form-control" placeholder="Kilograms">
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6 mb-3" v-if="form.weight_unit_us">
                                <label for="">Pounds</label>
                                <input type="text" v-model="form.weight" class="form-control" placeholder="Pounds">
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>Body Type</label>
                                <select class="form-control" v-model="form.body_size_id">
                                    <option value="" disabled="" hidden="">Select a Body Type</option>
                                    <option :value="body_type.id" v-for="body_type in utils.body_types">{{body_type.name}}</option>

                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>Hair Color</label>
                                <select class="form-control" v-model="form.hair_color">
                                    <option value="" disabled="" hidden="">Select a Hair Color</option>
                                    <option :value="hair_color.id" v-for="hair_color in utils.hair_colors">{{hair_color.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label>Eye Color</label>
                                <select class="form-control" v-model="form.eye_color">
                                    <option value="" disabled="" hidden="">Select an Eye Color</option>
                                    <option :value="eye_color.id" v-for="eye_color in utils.eye_colors">{{eye_color.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <label for=""><strong>Ethnicities (Select all that is applicable)</strong></label>
                            </div>
                            <div class="col-md-12">
                                <div class="form-check form-check-inline" v-for="eth in utils.ethnicities">
                                    <input class="form-check-input"
                                           v-model="form.ethnicities"
                                           type="checkbox" :id="eth.id" :value="eth.id">
                                    <label class="form-check-label" :for="eth.id">{{eth.name}}</label>
                                </div>

                            </div>
                        </div>


                        <div>
                            <button class="btn btn-orange btn__custom mt-4 float-right" @click.prevent="handleForm">CONTINUE <i
                                class="fas fa-arrow-right"></i></button>
                        </div>


                    </form>

                </div>

            </div>
        </div>
    </div>
</template>


<script>
    export default {
        name: 'Appearance',
        props: ['goto'],
        data() {
            return {
                form: {
                    eye_color: '',
                    hair_color: '',
                    body_size_id: '',
                    height_unit_us: false,
                    weight_unit_us: false,
                    ethnicities: []
                },
                utils: {}
            }
        },
        created() {
            this.loadAppearance();
        },

        methods: {
            loadAppearance() {
                let vm  = this;
                Aj.Api.get('/utilities/appearance').then(res => {
                    vm.utils = res;
                    if(vm.utils.appearance)
                        vm.form = vm.utils.appearance;
                });
            },

            scrollPageTo(element) {
                if(element === undefined) return;
                $('html, body').animate({
                    scrollTop: ($(element).offset().top)
                }, 1000);
            },

            handleForm() {
                let vm = this;
                if(!this.form.body_size_id ||
                    !this.form.eye_color ||
                    !this.form.hair_color ||
                    !this.form.height ||
                    !this.form.weight
                )
                {
                    Aj.Notify.Danger('Please complete the form to continue.');
                    return;
                }

                Aj.Api.post('/account/api/profile/appearance', this.form)
                    .then(res => {
                        vm.scrollPageTo('#builder-holder');
                        if(vm.goto) {
                            vm.$router.push({path: vm.goto});
                        } else {
                            Aj.Notify.Success('Profile updated');
                        }
                    }).catch(err => Aj.Notify.Danger(err.message));
            }
        }
    }
</script>

<style scoped>

    .unit {
        color: #CCC;
        cursor: pointer;
    }

    .unit-active {
        color: #000;
    }

</style>
