<template>
    <div class="table-responsive">
        <h3>Education/Certifications <button @click.prevent="handleAdd" class="btn btn-sm btn-darker" data-toggle="tooltip" title="Add new education"><i class="fas fa-plus"></i> Add</button></h3>

        <table class="table align-items-center table-flush table-striped">
            <thead class="thead-light">
            <tr>
                <th>School/Institute</th>
                <th>Degree/Course</th>
                <th>Location, Year</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="edu in educations">
                    <td>{{edu.school}} <a href="#" @click.prevent="handleEdit(edu)" data-toggle="tooltip" title="Edit"><i class="fas fa-pen"></i></a></td>
                    <td>{{edu.degree}}</td>
                    <td>{{edu.location}}, {{edu.year_completed}}</td>
                    <td><button @click.prevent="handleDelete(edu)" class="btn btn-sm btn-outline-danger"> <i class="fas fa-trash"></i></button></td>
                </tr>
            </tbody>
        </table>

        <button @click.prevent="continueToNextStep" class="btn btn-orange btn__custom mt-4 float-right">CONTINUE <i class="fas fa-arrow-right"></i></button>

        <b-modal v-if="selected" ref="post-modal"
                 :title="selected.school"
                 @hidden="resetModal"
                 @ok="handleOk"
                  lazy>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="school">School/Institution</label>
                            <input type="text" v-model="selected.school" class="form-control" id="school" placeholder="School/Institution">
                            <p class="text-danger" v-if="errors.school">{{errors.school[0]}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="degree">Degree/Course</label>
                            <input type="text" v-model="selected.degree" class="form-control" id="degree" placeholder="Degree/Course">
                            <p class="text-danger" v-if="errors.degree">{{errors.degree[0]}}</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="year">Year</label>
                            <input type="text" v-model="selected.year_completed" class="form-control" id="year" placeholder="Year">
                            <p class="text-danger" v-if="errors.year_completed">{{errors.year_completed[0]}}</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="location">Location</label>
                            <input type="text" v-model="selected.location" class="form-control" id="location" placeholder="Location">
                            <p class="text-danger" v-if="errors.location">{{errors.location[0]}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </b-modal>
    </div>
</template>

<script>

    import BModal from 'bootstrap-vue/es/components/modal/modal'
    import BModalDirective from 'bootstrap-vue/es/directives/modal/modal'

    export default {
        name: "Education",
        props: ['goto'],
        components: {
          'b-modal':   BModal,
        },
        directives: {
            'b-modal': BModalDirective
        },
        data() {
            return {
                educations: [],
                selected: {},
                errors: {}
            }
        },
        created() {
            this.loadData();
        },

        methods: {
            handleAdd() {
                let vm = this;
                vm.selected = {};
                vm.$refs['post-modal'].show();
            },
            resetModal() {
                this.selected = {};
                this.errors = {};
            },
            handleOk(bvModalEvt) {
                bvModalEvt.preventDefault();
                this.submitForm();
            },
            handleEdit(edu) {
                let vm = this;
                vm.selected = edu;
                setTimeout(() => {
                    vm.$refs['post-modal'].show();
                },50)
            },

            submitForm() {
                let url = '/account/educations';
                if(this.selected.id)
                    url += '/' + this.selected.id;

                 this.handlePost(url);
            },

            loadData() {
                let vm =  this;
                Aj.Api.get('/account/educations').then(res => {
                    vm.educations = res.data;
                }).catch(err => Aj.Notify.Danger(err.message));
            },

            handlePost(url) {
                let vm =  this;
                Aj.Api.post(url, this.selected).then(res => {
                    if(res.status === 'ok') {
                        vm.$refs['post-modal'].hide();
                        vm.loadData();
                    } else {
                        Aj.Notify.Danger('Unable to save data.');
                    }
                }).catch(err => {
                    Aj.Notify.Danger(err.message);
                    this.errors = err.payload;
                })
            },

            handleDelete(edu) {
                let vm =  this;
                Aj.Notify.Confirm({
                    title: 'Confirm Delete',
                    message: '<h3>This will permanently delete the record from our database.</h3>',
                    yes: 'Yes, delete', no: 'Nope'}, () => {

                    Aj.Api.delete('/account/educations/' + edu.id).then(res => {
                        if(res.status === 'ok') {
                            vm.loadData();
                            Aj.Notify.Success('Removed.');
                        } else  {
                            Aj.Notify.Danger('Unable to remove record.');
                        }
                    })

                });
            },

            continueToNextStep() {
                if(!this.goto) return document.location = '/account/profile';
                this.$router.push({path: this.goto});
            }
        }
    }
</script>

<style scoped>

</style>
