<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-wrapper">
                <!-- Card body -->
                <div class="card-sbody">
                    <h3 class="card-title mb-1">Help us know you better.</h3>
                    <p class="card-text">Get jobs that matches you.</p>

                    <button @click.prevent="continueToNextStep" class="btn btn-orange btn__custom mt-4 float-right">CONTINUE <i class="fas fa-arrow-right"></i></button>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Measurement",

        methods: {
            continueToNextStep() {
                this.$router.push({path: 'skills'});
            }
        }
    }
</script>

<style scoped>

</style>
