<template>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="form-control-label" for="example3cols1Input">One of three cols</label>
                <input type="text" class="form-control" id="example3cols1Input" placeholder="One of three cols">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ProfileURL"
    }
</script>

<style scoped>

</style>
