<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-wrapper">
                <!-- Card body -->
                <div class="card-sbody">
                    <h3 class="card-title mb-1">What else can you do?</h3>
                    <p class="card-text">Let industry experts find you faster. Add between 1 to 5 skills.</p>

                    <vue-tags-input
                        v-model="tag"
                        :tags="tags"
                        :autocomplete-items="filteredItems"
                        placeholder="Add new a new skill"
                        :add-from-paste="true"
                        :add-on-blur="true"
                        :add-on-key="[13, ':', ';', ',']"
                        :delete-on-backspace="true"
                        @tags-changed="newTags => tags = newTags"
                    />
                    <small id="emailHelp" class="form-text text-muted">Type a skill press any of ",", ":", ";" to add multiple.</small>

                    <button @click.prevent="continueToNextStep" class="btn btn-orange btn__custom mt-4 float-right">FINISH <i class="fas fa-arrow-right"></i></button>

                </div>

            </div>
        </div>
    </div>
</template>

<script>

    import VueTagsInput from '@johmun/vue-tags-input';

    export default {
        name: "UserSkills",
        data() {
            return {
                tag: '',
                tags: [],
                autocompleteItems: [],
            }
        },
        components:{
            VueTagsInput,
        },
        created() {
         this.fetchTags();
        },

        computed: {
            filteredItems() {
                return this.autocompleteItems.filter(i => {
                    return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
                });
            },

            addedSkills() {
                return this.tags.map(item => item.text);
            }
        }, // end of computed
        methods: {

            continueToNextStep() {
                if(!this.tags.length)
                    return Aj.Notify.InfoDanger({
                            title: 'Add some skills',
                            message: '<h3 class="text-center">Adding relevant skills would allow creators to find you quickly. It will only take a minute to do..</h3>'
                    });

                Aj.Api.post('/utilities/skills', {payload: this.addedSkills.join(',')})
                    .then(res => {

                    if(res.status !== 'ok')  return Aj.Notify.InfoDanger({
                            title: 'Error Updating Record',
                        message: `<h3 class="text-center">${res.message}</h3>`
                    });

                    Aj.Notify.InfoSuccess({
                            title: 'Profile Updated!',
                            message: `<h3 class="text-center">It\`s time to land a new role. Go to jobs.</h3>`}, () => {
                        document.location = '/casting-calls';
                    });

                }).catch(err => {
                    Aj.Notify.Danger(err.message);
                });
            },

            fetchTags() {
                let vm = this;
                Aj.Api.get('/utilities/skills').then(res => {
                    vm.tags = res.data.local.map(item => {
                        return {text: item.name};
                    });
                    vm.autocompleteItems = res.data.auto_complete.map( item => {
                        return {text: item.name};
                    });
                }).catch(err => {
                    Aj.Notify.Danger(err.message);
                });
            }
        }
    }
</script>

<style>

    .ti-tag.ti-valid {
        background-color: #f5a623;
        color: #000;
    }

    .ti-selected-item {
        background-color: #f5a623 !important;
        color: #000;
    }
    .main__container ul li {
        margin-bottom: 5px;
    }

</style>
