<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-wrapper">
                <!-- Card body -->
                <div class="card-sbody">
                    <h3 class="card-title mb-1">Where do you stay?</h3>
                    <p class="card-text">Find jobs closer to you in {{location.name}}.</p>

                    <google-autocomplete v-show="!networkRequest"
                                         class = "form-control icon-search"
                                         input_id = "txtAutocomplete"
                                         autocomplete="off"
                                         name = "s"
                                         placeholder = "Type here for city autocompletion"
                                         :config="{ type: ['geocode'], componentRestrictions: {country: location.code }}"
                    >
                    </google-autocomplete>



                    <button @click.prevent="continueToNextStep" class="btn btn-orange btn__custom mt-4 float-right">CONTINUE <i class="fas fa-arrow-right"></i></button>

                </div>

            </div>
        </div>
    </div>
</template>

<script>

    require('../google-autocomplete/bootstrap');

    export default {
        name: "UserLocation",
        props: ['goto'],
        data() {
            return {
                location: AjConfig.LOCATION_INFO,
                networkRequest: false,
                placeId: undefined
            }
        },
        mounted()
        {
            Vuemit.listen('setAddress', this.onAddressChanged);
        },
        methods: {
            continueToNextStep() {

                if(this.placeId !== undefined)
                {
                    Aj.Api.post('/account/profile/set-location', {placeId: this.placeId}).then(res => {
                        this.redirect(res.status === 'ok' ? '/u/'  + AjConfig.USER_ID : undefined);
                    }).catch(err => Aj.Notify.Danger(err.message));
                } else {
                    this.redirect('/u/'  + AjConfig.USER_ID);
                }
            },

            redirect(outside) {
              if(!this.goto) return document.location = outside;
              this.$router.push({path: this.goto});
            },

            onAddressChanged(payload)
            {
                if (Object.keys(payload.place).length > 0) {
                    this.placeId = payload.response.place_id;
                }
            }
        }
    }
</script>

<style scoped>

</style>
