<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-wrapper">
                <div class="entry">
                    <div class="section-body user-profile">
                        <form v-on:submit.prevent="submitProfile">
                            <div class="form-group" id="stage_name">
                                <label>Stage/Display name</label>
                                <input type="text" class="form-control" v-model="form.stage_name" v-on:click="">
                                <p class="text-danger" v-if="errors.stage_name">{{errors.stage_name[0]}}</p>
                            </div>
                            <div class="form-group" id="title">
                                <label>Professional/Working Title</label>
                                <input type="text" class="form-control" placeholder="e.g. Actor & Singer" v-model="form.title">
                                <p class="text-danger" v-if="errors.title">{{errors.title[0]}}</p>
                            </div>

                            <div class="form-group" id="about">
                                <label for="about_company">About yourself. (160 characters max)</label>
                                <textarea v-model="form.about_company" id="about_company"
                                          cols="30" rows="3"
                                          class="form-control" placeholder="Tell us about you.."></textarea>
                                <p class="text-danger" v-if="errors.about_company">{{errors.about_company[0]}}</p>
                            </div>

                            <div class="form-group has-succes">
                                <label>Ajizzy Profile URL</label>
                                <input type="text" class="form-control is-valid" placeholder="https://ajizzy.com/username" v-model="form.profile_url">
                                <p class="text-danger" v-if="errors.profile_url">{{errors.profile_url[0]}}</p>
                                <small id="emailHelp" class="form-text text-muted">https://ajizzy.com/u/{{form.profile_url}}</small>
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <div class="form-row gender">
                                    <div class="form-group col">
                                        <select class="form-control" v-model="form.gender">
                                            <option value="unspecified">Unspecified</option>
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <p class="text-danger" v-if="errors.gender">{{errors.gender[0]}}</p>
                                    </div>
                                    <div class="form-group col  d-flex align-items-center ml-4">
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="customCheck1" type="checkbox" v-model="form.is_transgender">
                                            <p class="text-danger" v-if="errors.is_transgender">{{errors.is_transgender[0]}}</p>
                                            <label class="custom-control-label" for="customCheck1">Transgender</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <p class="col-md-12 mb-0">
                                    <label for="">Date of Birth</label>
                                </p>
                                <div class="form-group col-md-4" id="dob">
                                <select  id="day_of_birth" class="form-control" v-model="form.dob">
                                    <option value="0">Day</option>
                                    <option :value="i" v-for="i in 31" :key="'day' + i">{{i}}</option>
                                </select>
                                    <p class="text-danger" v-if="errors.mob">{{errors.dob[0]}}</p>
                            </div>
                                <div class="form-group col-md-4" id="mob">
                                    <select  id="month_of_birth" class="form-control" v-model="form.mob">
                                        <option value="0">Month</option>
                                        <option value="1">Jan</option>
                                        <option value="2">Feb</option>
                                        <option value="3">Mar</option>
                                        <option value="4">Apr</option>
                                        <option value="5">May</option>
                                        <option value="6">Jun</option>
                                        <option value="7">Jul</option>
                                        <option value="8">Aug</option>
                                        <option value="9">Sept</option>
                                        <option value="10">Oct</option>
                                        <option value="11">Nov</option>
                                        <option value="12">Dec</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.mob">{{errors.mob[0]}}</p>

                                </div>
                                <div class="form-group col-md-4" id="yob">
                                    <select  id="year_of_birth" class="form-control"  v-model="form.yob">
                                        <option value="0">Year</option>
                                        <option v-for="y in yearRange" :value="y" :key="y">{{y}}</option>
                                    </select>
                                    <p class="text-danger" v-if="errors.yob">{{errors.yob[0]}}</p>
                                </div>
                            </div>


                            <div class="form-group mb-5">
                                <label for="">Do you have passport/driver`s license?</label>
                                <div class="d-flex justify-content-start pt-2">
                                    <div class="custom-control custom-radio mr-5">
                                        <input name="driver_license" class="custom-control-input" id="driver_license" type="radio" value="1" v-model="form.driver_license">
                                        <label class="custom-control-label" for="driver_license">Driver`s License</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input name="passport" class="custom-control-input" id="passport" type="radio" value="1" v-model="form.passport">
                                        <label class="custom-control-label" for="passport">Passport</label>
                                    </div>
                                </div>
                                <p class="text-danger" v-if="errors.passport">{{errors.passport[0]}}</p>
                                <p class="text-danger" v-if="errors.driver_license">{{errors.driver_license[0]}}</p>
                            </div>


                            <div class="form-group mb-5">
                                <label for="">Profile Visibility</label>
                                <div class="d-flex justify-content-start pt-2">
                                    <div class="custom-control custom-radio mr-5">
                                        <input name="profile_visibility" class="custom-control-input" id="customRadio6" type="radio" value="1" v-model="form.is_public">
                                        <label class="custom-control-label" for="customRadio6">Public</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input name="profile_visibility" class="custom-control-input" id="customRadio7" type="radio" value="0" v-model="form.is_public">
                                        <label class="custom-control-label" for="customRadio7">Private</label>
                                    </div>
                                </div>
                                <p class="text-danger" v-if="errors.is_public">{{errors.is_public[0]}}</p>
                            </div>






                            <button type="submit" class="btn btn-orange btn__custom float-right" name="button">CONTINUE <i
                                class="fas fa-arrow-right"></i></button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Profile",
        props: ['goto'],
        data() {
            return {
                form: {
                    dob: "",
                    mob: "",
                    yob: "",
                    is_public: "1",
                    gender: 'unspecified'
                },
                makingNetworkRequest: false,
                errors: {}
            }
        },
        methods: {
            submitProfile() {
                let vm = this;
                vm.makingNetworkRequest  = true;
                Aj.Api.post('/account/api/profile', this.form).then((res) => {
                    vm.makingNetworkRequest  = false;
                    if(vm.goto !== undefined && vm.goto.length > 0) {
                        vm.scrollPageTo('#builder-holder');
                        vm.$router.push({path: vm.goto});
                    } else {
                        Aj.Notify.InfoSuccess({
                            title: 'Profile Updated',
                            message: '<h4>Now that you have updated your profile, next is to upload an engaging profile photo.</h4>',
                            btn: 'Continue'
                        }, () => document.location = res.goto);
                    }

                }).catch(err => {
                    Vue.set(vm.$data, 'errors', err.payload);
                    Aj.Notify.Danger(err.message);
                    vm.scrollPageTo('#' + Object.keys(vm.errors)[0]);

                }).finally( vm.makingNetworkRequest  = false);
            },
            scrollPageTo(element) {
                if(element === undefined) return;
                $('html, body').animate({
                    scrollTop: ($(element).offset().top)
                }, 1000);
            },
            initProfile() {
                let vm = this;
                Aj.Api.get('/account/api/profile').then(res => {
                    if(res) {
                        vm.form = res;
                    }
                });
            }
        },
        computed: {
            yearRange: function() {
                const startYear = new Date().getFullYear() - 16;
                return new Array(100).fill(startYear).map((n, i) => n-i);
            }
        },
        created() {
            this.initProfile();
        }
    }
</script>

<style scoped>

</style>
