<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-wrapper">
                    <!-- Card body -->
                    <div class="card-sbody">
                        <h3 class="card-title mb-1">Add your best photos :)</h3>
                        <p class="card-text">People are attracted to good photos, make yourself noticeable by uploading at least 3 of your best photos.</p>

                        <div class="text-muted" v-html="uploadStatus"></div>
                        <vue-dropzone
                            id="dropZone"
                            ref="dropZone"
                             class="dropzone dropzone-multiple dz-clickable"
                             :options="dropOptions"
                            :duplicateCheck="true"
                            acceptedFiles="image/*"
                            v-on:vdropzone-success="handleSuccess"
                             v-on:vdropzone-sending="sendingEvent"
                            v-on:vdropzone-error="handleError"
                            v-on:vdropzone-total-upload-progress="handleProgress">
                        </vue-dropzone>

                        <ul style="padding: 0; margin-top: 15px;">
                            <li class="list-group-item px-2" v-for="img in images">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar">
                                            <img class="avatar-img rounded" :src="img.url" :alt="img.url">
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <a @click.prevent="removeImage(img)" href="#" class="btn btn-outline-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <button v-show="!uploading" @click.prevent="continueToNextStep" class="btn btn-orange btn__custom mt-4 float-right">CONTINUE <i class="fas fa-arrow-right"></i></button>

                    </div>

            </div>
        </div>
    </div>
</template>



<script>

    const getTemplate = () => `
        <ul class="dz-preview dz-preview-multiple list-group list-group-lg list-group-flush">
                    <li class="list-group-item px-0">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <div class="avatar">
                            <img class="avatar-img rounded" src="..." alt="..." data-dz-thumbnail>
                          </div>
                        </div>
                        <div class="col ml--3">
                          <h4 class="mb-1" data-dz-name>...</h4>
                          <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                          <p class="small text-muted mb-0" data-dz-size>...</p>
                        </div>
                        <div class="col-auto">
                          <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#" class="dropdown-item" data-dz-remove>
                                Remove
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
    `;

    import vueDropzone from "vue2-dropzone";

    export default {
        name: "UserProfileAvatar",
        components: {
            vueDropzone
        },

        mounted() {
            this.fetchImages(); // fetch existing files
        },
        data() {
            return {
                images: [],
                uploadStatus: '',
                isError: false,
                uploading: false,
                dropOptions: {
                    url: "/account/profile/media",
                    paramName: 'media',
                    maxFilesize: 3, // MB
                    addRemoveLinks: false,
                    previewTemplate: getTemplate(),
                    dictDefaultMessage: '<i class=\'fa fa-cloud-upload\'></i>Tap or Drag & Drop Photos To Upload.',
                    headers: {'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content}
                }
            }
        },
        methods: {
            sendingEvent (file, xhr, formData) {
                this.uploading =  true;
                formData.append('media_type', 'image');
            },

            handleSuccess(file, res) {
                if(res.status === 'ok') {
                    this.fetchImages();
                    this.$refs.dropZone.removeFile(file);
                    this.uploading =  false;
                    this.uploadStatus = `<div class="alert alert-success"><i class="far fa-check-circle"></i> Uploaded. You can add more.</div>`;
                }
            },
            handleError(file) {
                this.isError = true;
                if(file.accepted) {
                    let res = JSON.parse(file.xhr.response);
                    let message = (res.errors && res.errors.media) ? res.errors.media[0] : res.message;
                    this.uploadStatus = '';
                    Aj.Notify.Danger(message);
                } else {
                    this.uploadStatus = `<h2>File type not allowed</h2>`;
                }
                this.$refs.dropZone.removeFile(file);

            },
            fetchImages() {
                let vm = this;
                Aj.Api.get('/account/profile/media', {noBlock: true}).then(res => {
                    vm.images = res.data;
                }).catch(err => Aj.Notify.Danger(err.message));
            },

            handleProgress(totaluploadprogress, totalBytes, totalBytesSent) {
                if(!this.isError) {
                    this.uploadStatus = `<div class="alert alert-info">Uploading <i class="fas fa-spinner fa-spin"></i></div>`;
                }
            },
            removeImage(img) {
                this.uploadStatus = '';
                Aj.Notify.Confirm({message: '<h3>Are you sure you want to remove this photo?</h3>'}, () => {
                    this.images = this.images.filter((item) => {
                       return item.id !== img.id;
                    });

                    Aj.Api.delete('/account/profile/media/' + img.id, {noLoading: true}).catch(err => Aj.Notify.Danger(err.message));
                });
            },
            continueToNextStep() {
                this.uploadStatus = '';
                if(!this.images.length) return Aj.Notify.Danger('Please, add some photos to continue.');
                this.$router.push({path: 'location'});
            }
        }
    }
</script>

<style scoped>


</style>
