<template>

    <div class="row">
        <talent-item
            :post="post.profile"
            v-for="post in listings"
            :key="post.profile.id"
            v-on:selected="itemSelected"
            v-on:is-checked="handleChecked"
            card-class="col-12 col-sm-6 col-md-4"
        >
            <template v-slot:footer>
                <talent-action-footer :post="post" @actioned="handleAction"></talent-action-footer>
            </template>
        </talent-item>

        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <infinite-loading
                        @infinite="infiniteHandler"
                        :identifier="infiniteId"
                        spinner="waveDots"></infinite-loading>
                </div>
            </div>
        </div>
        <talent-modal :selected="selected"></talent-modal>
    </div>
</template>

<script>
    const TalentStat =  () => import('./TalentStat');
    const  TalentFilter  = () => import('./TalentFilter');
    import TalentItem from './ApplicationTalentItem';
    import TalentActionFooter from './TalentActionFooter';
    import TalentModal from './TalentModal'

    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        name: "ApplicationList",
        props: {
            endpoint: {
                required: true,
                type: String
            },
            filters: {
                type: Object,
                required: false
            }
        },
        data() {
            return {
                selected: { medias: [{url: ''}], user: {}},
                listings: [],
                infiniteId: +new Date(),
                params: {
                    page: 1
                },
            }
        },
        components: {
            TalentStat,
            TalentFilter,
            TalentItem,
            InfiniteLoading,
            TalentActionFooter,
            TalentModal
        },
        computed: {
            authCheck() {
                return AjConfig.LOGGED_IN !== '0';
            }
        },

        watch: {
            filters:  {
                handler(newVal, oldVal) {
                    this.handleFilter(newVal);
                },
                deep: true
            }
        },

        methods: {
            itemSelected(item) {
                this.selected = item;
            },

            handleChecked(checked, item) {
                console.log(checked, item);
            },

            handleFilter(filter) {
                filter.page = 1;
                this.params = filter;
                this.listings = [];
                this.infiniteId += 1;
            },

            infiniteHandler($state) {
                let vm = this;
                Aj.Api.get(this.endpoint, {
                    params: vm.params,
                    noBlock: true
                }).then(res => {
                    if(res.data.length) {
                        vm.listings.push(...res.data);
                        vm.params.page += 1;
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            },

            /**
             * This action method allows us to remove the post from the list
             * @param post
             */
            handleAction(post) {
                this.listings = this.listings.filter((item) => {
                   return item.id !== post.id;
                });
            }
        }
    }
</script>

<style scoped>

</style>
