<template>
    <div :class="cardClass">
        <div class="card profile">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <a href="#" class="avatar avatar-sm rounded-circle">
                            <img :src="post.medias[0].url" :alt="localStageName">
                        </a>
                    </div>
                    <div class="col pl-0">
                                        <span class="profile-username">
                                            <a :href="'/casting-calls/' + post.user.id" v-on:click.prevent="$emit('selected', post)">{{localStageName}}</a>
                                        </span>
                        <span class="profile-location">{{post.user.location.name}}</span>
                    </div>
                    <div class="col-auto">
                       <slot name="action">
                           <a href="#" id="profileAdditionalMenu" role="button" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileAdditionalMenu">
                               <a class="dropdown-item" href="#">Action</a>
                               <a class="dropdown-item" href="#">Another action</a>
                               <a class="dropdown-item" href="#">Something else here</a>
                           </div>
                       </slot>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="custom-control custom-checkbox mb-3">
                    <input class="custom-control-input" :id="'ch' + post.user.id" type="checkbox" :true-value="true" v-model="checked" />
                    <label class="custom-control-label" :for="'ch' + post.user.id"></label>
                </div>
                <div :class="inMobile ? 'profile-photo-wrapper-mobile' : 'profile-photo-wrapper'">
                    <b-carousel
                        id="carousel-1"
                        :indicators="post.medias.length > 1"
                        v-model="slide"
                        :interval="0"
                        img-width="0"
                        img-height="0"
                    >
                        <b-carousel-slide v-for="im in post.medias" :key="im.url" img-blank>

                            <span
                                slot="img"
                            >
                                <div v-hammer:tap="onTap" class="card-img-top" :class="inMobile ? 'thumb-img-mobile' : 'thumb-img'"
                                     v-bind:style="{ 'background-image': 'url(' + im.url + ')',
                                                     'height': inMobile ? '350px' : '250px',
                                                     'background-size': 'cover',
                                                     'background-repeat': 'no-repeat',
                                                     'background-position': 'center center',
                                                     }">


                            </div>
                            </span>


                        </b-carousel-slide>
                    </b-carousel>


                </div>
            </div>


           <slot name="footer"></slot>
        </div>
    </div>
</template>

<script>

    import { isMobile } from 'mobile-device-detect';

    export default {
        name: "TalentItem",
        data() {
            return {
                slide: 0,
                sliding: null,
                checked: null
            }
        },
        props: {
            post: {
                type: Object,
                required: true,
            },
            cardClass: {
                type: [Object, Array, String],
                required: true
            }
        },
        methods: {

            itemSelected(item) {
                this.$emit('selected', item);
            },

            onTap(event) {
                if(event.tapCount === 2) {
                    Aj.Notify.Success('Liked');
                }
            }

        },
        computed: {
            roles() {
                return this.post.roles.slice(0, 2)
            },

            localStageName() {
              return isMobile   ? this.post.stage_name : this.$options.filters.truncate(this.post.stage_name, 15);
            },

            inMobile() {
                return isMobile;
            }
        },
        watch: {
            'checked': function (newValue) {
                this.$emit('is-checked', newValue, this.post);
            }
        }
    }
</script>

<style scoped>

    .thumb-img {
        max-height: 255px;
    }

    .thumb-img-mobile {
        max-height: 350px;
    }

    .profile-photo-wrapper {
        height: 250px !important;
    }

    .profile-photo-wrapper-mobile {
        height: 350px !important;
    }

    ul.profile-card-actions {
        list-style: none;
        padding: 0;
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    a{
        color: #0b0b0b;
    }



</style>
