<template>
    <div class="gallery-item" tabindex="0">

        <img :src="media.url"
             class="gallery-image" alt="Media">

    </div>
</template>

<script>
    export default {
        name: "MediaItem",
        props: {
            media: {
                type: Object,
                required: true
            }
        }
    }
</script>

<style scoped>

</style>
