<template>
    <div>
        <div class="gallery">
            <media-item :media="media" v-for="media in listings" :key="media.id"></media-item>
        </div>

        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <infinite-loading
                        @infinite="infiniteHandler"
                        :identifier="infiniteId"
                        spinner="waveDots"></infinite-loading>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import MediaItem from "./MediaItem";
    import InfiniteLoading from 'vue-infinite-loading';


    export default {
        name: "MediaGrid",
        data() {
            return {
                listings: [],
                infiniteId: +new Date(),
                params: {
                    page: 1
                },
            }
        },

        props: {
            endpoint: {
                required: true,
                type: String
            }
        },
        components: {
            InfiniteLoading,
            MediaItem
        },

        methods: {
            handleFilter(filter) {
                filter.page = 1;
                this.params = filter;
                this.listings = [];
                this.infiniteId += 1;
            },

            infiniteHandler($state) {
                let vm = this;
                Aj.Api.get(this.endpoint, {
                    params: vm.params,
                    noBlock: true
                }).then(res => {
                    if(res.data.length) {
                        vm.listings.push(...res.data);
                        vm.params.page += 1;
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
