<template>
    <div>
        <div class="filter">
            <div class="row">
                <ul class="filter--options">
                    <li class="filter--options__item gender">
                        <select class="custom-select" v-model="filter.role_gender" @change="genderChanged">
                            <option value="" hidden>Gender</option>
                            <option value="male & female">Male & Female</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </li>
                    <li class="filter--options__item age-range">
                        <select name="" id="" class="custom-select">
                            <option value="">Age range</option>
                        </select>
                    </li>
                    <li class="filter--options__item location">
                        <select name="" id="" class="custom-select">
                            <option value="">Location</option>
                        </select>
                    </li>
                    <li class="filter--options__item ethnicity">
                        <select name="" id="" class="custom-select">
                            <option value="" hidden>Ethnicity</option>
                            <option value="">African</option>
                        </select>
                    </li>
                    <li class="filter--options__item sort-by">
                        <select name="" id="" class="custom-select">
                            <option value="" hidden>Production Type</option>
                            <option value="">Price: Low to High</option>
                            <option value="">Price: High to Low</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>

        <div class="results-container">
            <div class="row d-flex justify-content-end text-right">
                <div class="col-md-12 col-sm-12 sort-btns">
                    <div id="" class="btn-group">
                        <button class="btn btn-d dropdown-toggle dropdown-toggle " type="button" data-toggle="dropdown" id="dropdownRoles" aria-expanded="false">Show All</button>
                        <ul id="action_filters" class="dropdown-menu" aria-labelledby="dropdownRoles">
                            <li><a>Relevance</a></li>
                            <li><a>Recently Updated</a></li>
                            <li><a>Name: A - Z</a></li>
                            <li><a>Name: Z - A</a></li>
                        </ul>
                    </div>
                    <div id="action_sort_btn" class="btn-group">
                        <button class="btn btn-d dropdown-toggle dropdown-toggle mr-0" type="button" data-toggle="dropdown" id="dropdownRoles" aria-expanded="false">Sort by Newest</button>
                        <ul id="action_sort" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownRoles">
                            <li><a>Relevance</a></li>
                            <li><a>Recently Updated</a></li>
                            <li><a>Name: A - Z</a></li>
                            <li><a>Name: Z - A</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TalentFilter",
        data() {
            return {
                filter: {
                    role_gender: "",
                }
            }
        },

        methods: {
            genderChanged() {
                this.$emit('filtered', this.filter)
            }
        }
    }
</script>

<style scoped>

</style>
