<template>
    <div class="row section-header mb-2">
        <div class="col-md-12">
            <h1 class="section-header--title border-0 pb-0">Find open casting calls &amp; auditions near you</h1>
            <h4>Showing {{totalRoles}} acting jobs with {{totalProductions}} productions in All Locations
            </h4>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['totalRoles', 'totalProductions'],
        name: "TalentStat"
    }
</script>

<style scoped>

</style>
