<template>
    <div>
        <b-modal v-if="selected.user.id" ref="post-modal"
                 :title="selected.user.name"
                 body-class="casting-details-modal"
                 modal-class="right fade"
                 @hidden="modalHidden"
                 hide-header hide-footer lazy>

            <button class="close" data-dismiss="modal" aria-label="Close" type="button" @click="closeModal">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="talent__header">
                            <div class="talent__header__buttons">
                                <div>
                                    <div>

                                        <a  href="#" data-toggle="tooltip" @click.prevent="handleInvite" :title="'Invite '  + selected.stage_name + ' to Apply'" class="invite__btn "><span class="icon"></span><span class="profile__actions__label">Invite to Apply</span></a>
                                    </div>
                                    <a :href="selected.public_url" target="_BLANK" class="view-profile-link">View Full Profile &amp; Media ›</a>
                                </div>
                            </div>

                            <div class="talent__header__nav">
                                <a href="#" @click.prevent="switchTab('about')" :class="{'active': activeTab === 'about'}">About {{fullName}}</a>
                                <a href="#" @click.prevent="switchTab('notes')" :class="{'active': activeTab === 'notes'}">Notes</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="talent__body__main">
                    <div class="section">
                        <div class="row">
                            <div class="col-12">
                                <div class="talent__body__top">
                                    <div class="profile__top--thumb">
                                        <div class="photo" :style="'background: url(' + selected.medias[0].url +') center center / cover no-repeat;'"></div>
                                    </div>
                                    <div class="profile__top--info font-md-mobile">
                                        <h1 class="name">{{selected.stage_name}}</h1>
                                        <h2 class="title">{{selected.title}}</h2>
                                        <div class="location">{{selected.user.location.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="activeTab === 'about'">
                            <div class="col-md-6 col-sm-6 col-12">
                                <h5>Photos</h5>
                                <div class="profile__photo--primary">
                                    <a data-fancybox="gallery" :href="firstProfileImage.url">
                                        <img :src="firstProfileImage.url" :alt="firstProfileImage.id">
                                    </a>
                                </div>
                                <div class="profile__photo--thumbs">
                                    <a data-fancybox="gallery" :href="im.url" v-for="im in selected.medias">
                                        <img :src="im.url" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="row details">
                                    <div class="col-12">
                                        <h5>Age Range</h5>
                                        <p>{{selected.age_range}}</p>
                                    </div>
                                    <div class="col-12">
                                        <h5>Attributes</h5>
                                        <ul>
                                            <li>{{selected.gender}} (gender)</li>
                                        </ul>
                                    </div>
                                    <div class="col-12" v-if="selected.user.appearance">
                                        <h5>Appearance</h5>
                                        <ul>
                                            <li class="representation__title">
                                                <span class="attribute-label">Height: </span>
                                                <span class="attribute-value">{{selected.user.appearance.height}} {{selected.user.appearance.height_unit_us ? 'Centimeters' : 'Feet'}}</span>
                                            </li>

                                            <li class="representation__title">
                                                <span class="attribute-label">Weight: </span>
                                                <span class="attribute-value">{{selected.user.appearance.weight}} {{selected.user.appearance.weight_unit_us ? 'Pounds' : 'Kilograms'}}</span>
                                            </li>

                                            <li class="representation__title">
                                                <span class="attribute-label">Body: </span>
                                                <span class="attribute-value">{{selected.user.appearance.body_size}}</span>
                                            </li>

                                            <li class="representation__title">
                                                <span class="attribute-label">Eye color: </span>
                                                <span class="attribute-value">{{selected.user.appearance.eye_color}}</span>
                                            </li>

                                            <li class="representation__title">
                                                <span class="attribute-label">Hair color: </span>
                                                <span class="attribute-value">{{selected.user.appearance.hair_color}}</span>
                                            </li>

                                            <li class="representation__title">
                                                <span class="attribute-label">Ethnicities: </span>
                                                <span class="attribute-value">
                                                    {{showEth(selected.user.appearance.ethnicities)}}
                                                </span>
                                            </li>





                                        </ul>
                                    </div>

                                    <div class="col-12">
                                        <h5>License &amp; Passport</h5>
                                        <ul>
                                            <li>
                                                <span class="attribute-label">Driver's License:</span>
                                                <span class="attribute-value">{{selected.driver_license ? 'Yes': 'No'}}</span>
                                            </li>
                                            <li>
                                                <span class="attribute-label">Passport:</span>
                                                <span class="attribute-value">{{selected.passport ? 'Yes': 'No'}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" v-if="activeTab === 'notes'">
                            <div class="col-md-12 col-sm-6 col-12">
                                <h1>Add note</h1>
                                <p>Note helps you keep track of talents you are interested in and can be viewed from your dashboard.</p>
                                <t-note :to="selected"></t-note>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>


        <invite-to-apply :to="inviteUser" :open="invite" @close="handleInviteClose"></invite-to-apply>
    </div>
</template>

<script>

    import TNote from './TNote';
    import InviteToApply from "../project/components/InviteToApply";

    export default {
        name: "TalentModal",
        props: ['selected'],
        data() {
            return {
                currentSelectedImg: null,
                activeTab: 'about',
                invite: false,
                inviteUser: {},
            }
        },
        components: {
            TNote,
            InviteToApply
        },

        methods: {

            modalHidden() {
                    this.$emit('close', true);
            },

            closeModal() {
                this.$refs['post-modal'].hide();
            },

            switchTab(tab) {
                this.activeTab = tab;
            },

            handleInvite() {
                this.inviteUser = {
                    name: this.selected.stage_name,
                    id: this.selected.user.id
                };
                this.invite = true;
            },

            handleInviteClose() {
                this.invite = false;
            },

            showEth(eth) {
                return eth.map(item => item.name).join(',');
            },
        },

        watch: {
            selected(newValue) {
                setTimeout(() => {
                    if(this.$refs['post-modal']) {
                        this.$refs['post-modal'].show();
                    }

                }, 50);
            }
        },

        computed: {

            fullName() {
                if(this.selected && this.selected.profile)  {
                    return this.selected.profile.stage_name;
                }
            },

            firstProfileImage: {
                get() {
                    this.currentSelectedImg = this.selected.medias[this.selected.medias.length-1];
                    return this.selected.medias ? this.currentSelectedImg : null;
                }
            }
        }
    }
</script>

<style scoped>

</style>
