<template>
    <div class="btn-group">
        <button class="btn btn__custom btn-d dropdown-toggle" type="button" data-toggle="dropdown" id="dropdownActions">Show ({{selected}})</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownActions">
            <li><a @click.prevent="select('All', '')">All</a></li>
            <li><a  @click.prevent="select('Approved', 'green')">Approved</a></li>
            <li><a  @click.prevent="select('In Review', 'yellow')">In Review</a></li>
            <li><a  @click.prevent="select('Rejected', 'red')">Rejected</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TalentBasinFilter",
        data() {
            return {
                selected: 'All'
            }
        },

        methods: {
            select(label, basin) {
                this.selected  = label;
                this.$emit('select', basin);
            }
        }
    }
</script>

<style scoped>

</style>
