<template>

    <div class="row">
        <talent-item
            :post="post"
            v-for="post in listings"
            :key="post.user.id"
            v-on:selected="itemSelected"
            v-on:is-checked="handleChecked"
            v-on:liked="handleLiked"
            card-class="col-12 col-sm-6 col-md-3"
            >

            <template v-slot:footer>
                <talent-action-footer :post="post" v-on:liked="handleLiked" v-on:share="handleSharing"></talent-action-footer>
            </template>
        </talent-item>

        <div class="col-12 col-sm-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <infinite-loading
                        @infinite="infiniteHandler"
                        :identifier="infiniteId"
                        spinner="waveDots"></infinite-loading>
                </div>
            </div>
        </div>

        <talent-modal :selected="selected" @close="handleTalentModalClose"></talent-modal>
        <talent-share-modal :open="openShare" :to="shareTo" v-on:user-close="closeSharing"></talent-share-modal>
    </div>
</template>

<script>
    import TalentActionFooter from "./DefaultTalentItemFooter";
    import TalentStat from "./TalentStat";
    import TalentFilter from "./TalentFilter";
    import TalentItem from './TalentItem';
    import TalentModal from './TalentModal'
    import TalentShareModal from "./TalentShareModal";

    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        name: "TalentList",
        props: {
            endpoint: {
                required: true,
                type: String
            }
        },
        data() {
          return {
              selected: { medias: [{url: ''}], user: {}, selected: {appearance: {}}},
              listings: [],
              infiniteId: +new Date(),
              params: {
                  page: 1
              },
              openShare: false,
              shareTo: {}
          }
        },
        components: {
            TalentActionFooter,
            TalentStat,
            TalentFilter,
            TalentItem,
            InfiniteLoading,
            TalentModal,
            TalentShareModal
        },
        computed: {
            authCheck() {
                return AjConfig.LOGGED_IN !== '0';
            }
        },

        methods: {

            loadAppearance(url) {
                let vm  = this;
                Aj.Api.get(url + '/appearance', {noBlock: true}).then(res => {
                    if(res.status && res.status === "error") {
                        vm.selected.appearance = {};
                    }else {
                        vm.selected.appearance = res.data;
                    }
                })
            },

            itemSelected(item) {
               this.loadAppearance(item.public_url);
               this.selected = item;
            },

            handleTalentModalClose() {
                this.selected ={ medias: [{url: ''}], user: {}, appearance: {}};
            },

            handleLiked(post) {
                console.log(post);
            },

            handleSharing(post) {
                this.openShare = true;
                this.shareTo = post;
            },

            closeSharing() {
                this.openShare = false;
                this.shareTo = {};
            },

            handleChecked(checked, item) {
                console.log(checked, item);
            },

            handleFilter(filter) {
                filter.page = 1;
                this.params = filter;
                this.listings = [];
                this.infiniteId += 1;
            },

            infiniteHandler($state) {
                let vm = this;
                Aj.Api.get(this.endpoint, {
                    params: vm.params,
                    noBlock: true
                }).then(res => {
                    if(res.data.length) {
                        vm.listings.push(...res.data);
                        vm.params.page += 1;
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
