<template>
    <div class="card-footer">
        <div class="row d-flex align-items-center profile-card-actions">
            <div class="col">
                <button @click.prevent="markAction('green')" type="button" class="btn btn-outline-success btn-sm"><i class="fas fa-thumbs-up"></i></button>
            </div>
            <div class="col-auto">
                <button @click.prevent="markAction('yellow')" type="button" class="btn btn-outline-warning btn-sm"><i class="fas fa-thumbtack"></i></button>
            </div>
            <div class="col-auto">
                <button @click.prevent="markAction('red')" type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-thumbs-down"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "DefaultTalentItemFooter",
        props: ['post', 'project'],
        methods: {
            markAction(action) {
                let vm  = this;

                Aj.Api.post(`/creator/projects/${this.post.project_id}/basins/${this.post.id}`, {basin: action}).then(res => {
                    Aj.Notify.Success(res.message);
                    vm.$emit('actioned', vm.post);
                }).catch(err => Aj.Notify.Danger('Error Updating Application.'));
            }
        }
    }
</script>

<style scoped>

</style>
