<template>

    <b-modal  ref="share-modal"
              :title="'Share ' + to.stage_name"
              @hidden="modalHidden"
              hide-footer
              lazy>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-2">
                    <a :href="facebook" target="_blank" class="btn btn-block btn-facebook btn-icon">
                        <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                        <span class="btn-inner--text">Facebook</span>
                    </a>
                </div>

                <div class="col-md-6 col-sm-12">
                    <a :href="twitter" class="btn btn-block btn-twitter btn-icon" target="_blank">
                        <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
                        <span class="btn-inner--text">Twitter</span>
                    </a>
                </div>
            </div>

        </div>
    </b-modal>

</template>

<script>
    export default {
        name: "TalentShareModal",
        data() {
            return {
                baseUrl: AjConfig.BASE_URL,
                message: 'Check out my profile on the number 1 platform for African talents.'
            }
        },
        props: {
            open: {
                type: Boolean,
                required: true
            },
            to: {
                type: Object,
                required: true
            }
        },

        methods: {
            modalHidden() {
                this.$emit('user-close');
            },

            handleFormSubmission(event) {
                event.preventDefault();
            }
        },

        computed: {
            twitter() {
                return 'https://twitter.com/intent/tweet?text=' + encodeURI(this.message) + '&url=' + this.baseUrl + 'u/' + encodeURI(this.to.profile_url) + '&hashtags=ajizzy,african talents,creators,actors,models'
            },

            facebook() {
                return  'https://www.facebook.com/sharer/sharer.php?u=' +   this.baseUrl + 'u/' + encodeURI(this.to.profile_url)
            }
        },

        watch: {
            open: function (val) {
                if(val) {
                    this.$refs['share-modal'].show();
                }

            }
        }
    }
</script>

<style scoped>

</style>
