<template>
    <div>
        <div class="form-group">
            <label class="form-control-label">Enter your note</label>
            <textarea class="form-control" placeholder="e.g Good fit for the lead role." rows="3" v-model="note"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" @click.prevent="submitNote" class="btn btn-dark btn-sm" :disabled="saving">{{saving ? 'Saving..' : 'Save'}}</button>
            <button type="submit" @click.prevent="deleteNote" class="btn btn-danger btn-sm" title="Delete note" data-toggle="tooltip"><i class="fas fa-trash-alt"></i></button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TNote",
        data() {
            return {
                note: '',
                needsLoggedIn: false,
                saving: false
            }
        },
        mounted() {
            this.getNote();
        },
        created() {
          this.needsLoggedIn = AjConfig.LOGGED_IN === '1';
        },
        props: {
            to: {
                type: Object,
                required: true
            }
        },
        methods: {
            submitNote() {
                if(this.needsLoggedIn) {
                    Aj.Notify.Danger('You are required to be logged in before you can add a note.');
                    return;
                }
                let vm = this;
                if(vm.note.length === 0)  return Aj.Notify.Danger('Add some note.');

                vm.saving = true;
                Aj.Api.post('/creator/notes/' + this.to.user.id, {note: this.note})
                    .then(res => {
                        vm.saving = false;
                        if(res.status !== 'ok')  return Aj.Notify.Danger(res.message);
                        Aj.Notify.Success('Note saved.');
                    }).catch(err => {
                        Aj.Notify.Danger(err.message);
                         vm.saving = false;
                    });


            },

            getNote() {
                let vm = this;
                Aj.Api.get('/creator/notes/' + this.to.user.id, {noBlock: true}).then(res => {
                    if(res.status === 'ok') {
                        vm.note = res.note.body;
                    }
                });
            },

            deleteNote() {
                let vm = this;
                if(vm.note.length === 0) return;
                vm.note = '';
                Aj.Api.delete('/creator/notes/' + this.to.user.id, {noLoading: true}).then(res => {
                    if(res.status === 'ok') {
                       Aj.Notify.Success('Note deleted.');
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
