<template>
    <div class="alert--loader" v-if="show">
        <span id="loading"></span>
       <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Loading",
        props: ['show']
    }
</script>

<style scoped>

</style>
