<template>
    <select>
        <slot></slot>
    </select>
</template>

<script>
    export default {
        data() {
            return  {
                perPage: 100
            }
        },
        name: "Select2",
        props: ['options', 'value', 'placeholder', 'ajax'],
        mounted: function () {
            var vm = this;
            let selectOptions = {
                data: this.options,
                placeholder: vm.placeholder,
                ajax: vm.ajax,
            };

            $(this.$el)
                .select2(selectOptions).val(this.value)
                .trigger('change')
                .on('change', function () {
                    vm.$emit('input', this.value)
                }).on('select2:select', function(e){
                vm.$emit('extract', e.params.data);
            });
        },
        watch: {
            value: function (value) {
                // update value
                $(this.$el)
                    .val(value)
                    .trigger('change')
            },
            options: function (options) {
                // update options
                $(this.$el).empty().select2({ data: options })
            }
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    }
</script>

<style scoped>

</style>
